/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/*MAPS STUFF*/
#map { height: 100%; 
       width:  100%;}




/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?ocus8x");
	src: url("../fonts/icomoon.eot?ocus8x#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ocus8x") format("truetype"), url("../fonts/icomoon.woff?ocus8x") format("woff"), url("../fonts/icomoon.svg?ocus8x#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e900";
}

.icon-close:before {
	content: "\e901";
}

.icon-list:before {
	content: "\e902";
}

.icon-marker:before {
	content: "\e903";
}

.icon-arrow-down:before {
	content: "\e900";
}

.icon-close1:before {
	content: "\e904";
}

.header-nav ul,
#nav ul,
.join-list,
.footer-bottom .footer-link,
.learn-more-block .perfect-place-block .item-lists,
.filter-wrap .sort-option,
.property-slide .pagination-block ul,
.property-detail-box .detail-info .left-text ul,
.property-detail-box .detail-info .status-info,
.property-detail-box .detail-info .tags-list,
.popup-holder .property-list,
.user-menu ul,
.user-property-item .left-box ul,
.user-property-item .tags-list,
.user-activity-list,
.user-schedule-list,
.date-add-box .time-list,
.messages-list,
.conversation-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after,
#header .header-holder:after,
.footer-holder:after,
.learn-more-block .holder:after,
.filter-wrap .range-slider-wrap:after,
.filter-wrap .select-row:after,
.date-add-box .add-row:after,
.date-add-box .inner-row:after,
.message-container:after,
.message-col-holder:after,
.conversation-list li:after {
	content: "";
	display: block;
	clear: both;
}

.hero-banner .btn-enter,
.hero-banner .btn-scroll-down,
.learn-more-block form .btn-search {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #424242;
	background: #fff;
	font: 16px / 1.26 "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
	font-weight: 300;
}

h1,
.h1 {
	font-size: 50px;
}

h2,
.h2 {
	font-size: 32px;
}

h3,
.h3 {
	font-size: 24px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-transition: border-color .3s ease;
	transition: border-color .3s ease;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	padding: .75em 1.25em;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	height: 50px;
	letter-spacing: -.01em;
	outline: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #b6b3b3;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #a9a9a9;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #a9a9a9;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #a9a9a9;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #a9a9a9;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #a9a9a9;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: none;
	vertical-align: top;
	width: 100%;
	height: auto;
	border-color: #acacac;
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .2);
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

/* custom forms */

/* custom radio styles */

.jcf-radio {
	-webkit-transition: .2s ease border-color;
	transition: .2s ease border-color;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #99a0a3;
	border-radius: 50%;
	margin: 0 3px 0 0;
	height: 26px;
	width: 26px;
}

.jcf-radio span {
	opacity: 0;
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	background: #34434a;
	border-radius: 100%;
	-webkit-transition: .2s ease-in-out opacity;
	transition: .2s ease-in-out opacity;
}

.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}

.jcf-radio.jcf-checked {
	border-color: #34434a;
	border-width: 2px;
}

.jcf-radio.jcf-checked span {
	opacity: 1;
}

/* custom range input styles */

.jcf-range {
	display: block;
	height: 32px;
}

.jcf-range .jcf-range-display-wrapper {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 15px;
	bottom: 0;
}

.jcf-range .jcf-range-display {
	height: 4px;
	background: #34434a;
	position: absolute;
	top: -1px;
	z-index: 2;
}

.jcf-range .jcf-range-track {
	margin: 0 20px 0 0;
	position: relative;
	display: block;
}

.jcf-range .jcf-range-wrapper {
	display: block;
	height: 2px;
	position: relative;
	padding: 15px 0 1px;
}

.jcf-range .jcf-range-wrapper:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 2px;
	background: #e5e5e5;
}

.jcf-range.jcf-vertical {
	width: auto;
}

.jcf-range .jcf-range-handle {
	position: absolute;
	background: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
	border-radius: 24px;
	width: 24px;
	height: 24px;
	margin: -11px 0 0;
	z-index: 3;
	top: 0;
	left: 0;
}

.jcf-range .jcf-range-mark {
	position: absolute;
	overflow: hidden;
	background: #000;
	width: 1px;
	height: 3px;
	top: -7px;
	margin: 0 0 0 9px;
}

.jcf-range.jcf-vertical .jcf-range-mark {
	margin: 0 0 9px;
	left: 14px;
	top: auto;
	width: 3px;
	height: 1px;
}

.jcf-range.jcf-disabled {
	background: none !important;
	opacity: .3;
}

/* custom select styles */

.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 1px solid #d8d8d8;
	background: #fff;
	margin: 0 0 10px;
	min-width: 96px;
	height: 50px;
}

.jcf-select.jcf-drop-active .jcf-select-opener:before {
	border-width: 0 6px 6px;
	border-color: transparent transparent #666;
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	line-height: 45px;
	margin: 0 32px 0 15px;
	color: #424242;
}

.jcf-select .jcf-select-text .jcf-option-hide-me {
	color: #a9a9a9;
}

.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	width: 30px;
	bottom: 0;
	right: 0;
	top: 0;
}

.jcf-select .jcf-select-opener:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 6px solid #666;
	border-width: 6px 6px 0;
	border-color: #666 transparent transparent;
	margin-top: -3px;
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 99999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0;
	z-index: 99999;
	top: 100%;
	left: -1px;
	right: -1px;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid #d8d8d8;
}

/* multiple select styles */

.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid #b8c3c9;
	min-width: 200px;
	margin: 0 15px;
}

/* select options styles */

.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: #fff;
	line-height: 20px;
	font-size: 16px;
	width: 100%;
}

.jcf-list .jcf-list-content {
	vertical-align: top;
	display: inline-block;
	overflow: auto;
	width: 100%;
}

.jcf-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.jcf-list ul li {
	overflow: hidden;
	display: block;
}

.jcf-list .jcf-overflow {
	overflow: auto;
}

.jcf-list .jcf-option {
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 10px 15px;
	color: #424242;
	height: 1%;
}

.jcf-list .jcf-option.jcf-option-hide-me {
	display: none;
}

.jcf-list .jcf-disabled {
	background: #fff !important;
	color: #aaa !important;
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}

.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}

#header {
	position: relative;
	background: #34434a;
	padding: 14px 20px;
}

#header.landing {
	padding: 16px 20px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: none;
}

#header.landing .logo {
	margin-top: 0;
}

#header .nav-opener {
	outline: none;
}

.logo {
	float: left;
	width: 121px;
	margin: 2px 0 0;
}

.logo img {
	width: 100%;
	height: auto;
	vertical-align: top;
}

.nav-opener {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 22px;
	font-size: 0;
	float: right;
}

.nav-opener span {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 2px;
	background: #fff;
	margin-top: -1px;
	-webkit-transition: background 0s .3s;
	transition: background 0s .3s;
}

.nav-opener span:before,
.nav-opener span:after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: "";
	-webkit-transition-duration: .3s, .3s;
	transition-duration: .3s, .3s;
	-webkit-transition-delay: .3s, 0s;
	transition-delay: .3s, 0s;
}

.nav-opener span:before {
	top: -10px;
	-webkit-transition-property: top, -webkit-transform;
	transition-property: top, transform;
}

.nav-opener span:after {
	bottom: -10px;
	-webkit-transition-property: bottom, -webkit-transform;
	transition-property: bottom, transform;
}

.nav-active .nav-opener span {
	background: none;
}

.nav-active .nav-opener span:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-active .nav-opener span:after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-active .nav-opener span:after,
.nav-active .nav-opener span:before {
	-webkit-transition-delay: 0s, .3s;
	transition-delay: 0s, .3s;
}

.header-nav {
	overflow: hidden;
}

.header-nav ul {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	text-align: right;
}

.header-nav ul li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	line-height: 1.1;
	font-size: 14px;
	font-weight: 300;
	margin: 0 0 0 10px;
}

.header-nav ul li:hover > a,
.header-nav ul li.active > a {
	color: #ccc;
}

.header-nav ul li a {
	color: #fff;
	text-decoration: none;
}

#nav {
	position: relative;
	z-index: 9;
	padding: 1px 0;
}

#nav ul li {
	line-height: 1.1;
	font-size: 16px;
}

#nav ul li a {
	color: #f0c978;
	text-decoration: none;
	display: block;
}

.header-search-form .input-row {
	overflow: hidden;
}

.header-search-form .btn-holder {
	float: right;
	margin: 0 0 0 10px;
}

.header-search-form .input-holder {
	overflow: hidden;
}

.header-search-form .input-field {
	width: 100%;
	color: #424242;
	border: none;
}

.header-search-form .input-field::-webkit-input-placeholder {
	color: #424242;
}

.header-search-form .input-field::-moz-placeholder {
	opacity: 1;
	color: #424242;
}

.header-search-form .input-field:-moz-placeholder {
	color: #424242;
}

.header-search-form .input-field:-ms-input-placeholder {
	color: #424242;
}

.header-search-form .input-field.placeholder {
	color: #424242;
}

.header-search-form .btn-search {
	-webkit-transition: background .3s ease;
	transition: background .3s ease;
	margin: 0;
	outline: none;
	border: none;
	background: #ebbf65;
	font: 400 14px/20px "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	color: #fff;
	border-radius: 2px;
	padding: 15px;
	min-width: 106px;
	text-align: center;
}

.header-search-form .btn-search:hover {
	background: #e2a321;
}

#footer {
	background: #34434a;
	color: #a0b4bd;
	overflow: hidden;
	padding: 35px 0 20px;
}

#footer .left-text {
	color: #a0b4bd;
	line-height: 1.4;
	font-weight: 300;
}

#footer .left-text a {
	color: #a0b4bd;
	text-decoration: none;
}

#footer .left-text a:hover {
	text-decoration: underline;
}

#footer .footer-logo {
	width: 143px;
	margin: 0 -5px 10px;
}

#footer .footer-logo img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.footer-holder {
	max-width: 870px;
	padding: 0 20px;
	margin: 0 auto;
}

.footer-top {
	margin-bottom: 16px;
}

.join-box {
	float: right;
	text-align: right;
	padding: 1px 0 0;
}

.join-box .join-title {
	display: block;
	font-weight: 400;
	margin-bottom: 22px;
	color: #fff;
}

.join-list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}

.join-list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px 20px;
}

.join-list li a {
	-webkit-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	display: block;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	background: #34434a;
}

.join-list li a:hover {
	background: #fff;
}

.footer-bottom {
	overflow: hidden;
	border-top: 1px solid #5b717b;
	font-weight: 300;
	padding: 16px 0;
}

.footer-bottom a {
	color: #a0b4bd;
	text-decoration: none;
}

.footer-bottom a:hover {
	text-decoration: underline;
}

.footer-bottom .copy-text {
	float: left;
	max-width: 55%;
	padding: 0 10px 0 0;
}

.footer-bottom .footer-link {
	overflow: hidden;
	text-align: right;
}

.footer-bottom .footer-link li {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 8px;
}

#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.hero-banner {
	position: relative;
	overflow: hidden;
	max-height: 500px;
}

.hero-banner .bg-banner {
	position: relative;
	overflow: hidden;
}

.hero-banner .bg-banner .img {
	position: relative;
	left: 50%;
	min-width: 375px;
}

.hero-banner .bg-banner .img img {
	display: block;
	position: relative;
	margin-left: -50%;
	width: 100%;
	height: auto;
}

.hero-banner .banner-holder {
	position: absolute;
	top: 84px;
	left: 0;
	right: 0;
	z-index: 9;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 24px;
	padding: 0 15px;
	bottom: 80px;
}

.hero-banner h1 {
	font-weight: 300;
	margin-bottom: 22px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.hero-banner p {
	margin-bottom: 81px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.hero-banner .info-text {
	display: block;
	font-size: 14px;
	margin: 0 0 6px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.hero-banner .btn-enter {
	display: inline-block;
	vertical-align: top;
	vertical-align: top;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	border-radius: 2px;
	background: #d39f34;
	color: #fff;
	text-decoration: none;
	padding: 15px;
	min-width: 206px;
}

.hero-banner .btn-enter:hover {
	background: #ae8226;
}

.hero-banner .btn-scroll-down {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	position: absolute;
	bottom: 5px;
	left: 50%;
	z-index: 9;
	font-size: 12px;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	padding: 0 0 22px;
}

.hero-banner .btn-scroll-down:hover {
	color: #ccc;
}

.hero-banner .btn-scroll-down:after {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	content: "\e900";
	position: absolute;
	bottom: 0;
	left: 50%;
	font-family: "icomoon";
	font-size: 21px;
}

.learn-more-block {
	background: #f5f5f5;
	text-align: center;
	padding: 33px 0 26px;
}

.learn-more-block .holder {
	max-width: 1400px;
	padding: 0 10px;
	margin: 0 auto;
}

.learn-more-block h2 {
	font-weight: 300;
	color: #424242;
	margin: 0 0 8px;
}

.learn-more-block .text {
	display: block;
	font-size: 18px;
	letter-spacing: -.015em;
	margin: 0 0 35px;
	font-weight: 300;
}

.learn-more-block form {
	max-width: 616px;
	margin: 0 auto 40px;
	padding: 0 10px;
}

.learn-more-block form .input-row {
	overflow: hidden;
}

.learn-more-block form .btn-holder {
	float: right;
	margin: 0 0 0 10px;
}

.learn-more-block form .input-holder {
	overflow: hidden;
}

.learn-more-block form .input-field {
	width: 100%;
}

.learn-more-block form .btn-search {
	margin: 0;
	outline: none;
	border: none;
	background: #ebbf65;
	font: 400 14px/20px "Source Sans Pro", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	color: #fff;
	border-radius: 2px;
	padding: 15px;
	min-width: 106px;
	text-align: center;
}

.learn-more-block form .btn-search:hover {
	background: #e2a321;
}

.learn-more-block .perfect-place-block {
	overflow: hidden;
	position: relative;
}

.learn-more-block .perfect-place-block .text-holder {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 9;
	color: #fff;
	padding: 0 10px;
	bottom: 0;
}

.learn-more-block .perfect-place-block .text-holder h2 {
	color: #fff;
	margin: 0 0 20px;
}

.learn-more-block .perfect-place-block .item-lists {
	overflow: hidden;
	max-width: 960px;
	margin: 0 auto;
}

.learn-more-block .perfect-place-block .item-lists li {
	line-height: 1.265;
	font-weight: 300;
	margin: 0;
	overflow: hidden;
}

.learn-more-block .perfect-place-block .item-lists .title {
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	padding: 0 0 8px;
	margin: 0 0 4px;
	line-height: 1.2;
	letter-spacing: 0;
}

.learn-more-block .perfect-place-block .item-lists .title:after {
	width: 10px;
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	height: 2px;
	background: #fff;
}

.learn-more-block .img-holder {
	overflow: hidden;
}

.learn-more-block .img-holder .img-item {
	float: left;
	position: relative;
	width: 50%;
}

.learn-more-block .img-holder .img-item:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
}

.learn-more-block .img-holder .img-item img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.learn-more-block .about-us-block {
	position: relative;
	z-index: 9;
	padding: 34px 10px 10px;
	font-weight: 300;
}

.learn-more-block .about-us-block .content-holder {
	margin: 0 auto;
	max-width: 615px;
	text-align: left;
}

.learn-more-block .about-us-block h2 {
	margin-bottom: 33px;
	text-align: center;
}

.learn-more-block .about-us-block .founders-list {
	overflow: hidden;
	margin: 0 auto 27px;
	max-width: 312px;
	text-align: center;
}

.learn-more-block .about-us-block .founders-list .founder-item {
	float: left;
	width: 50%;
	padding: 0 20px;
}

.learn-more-block .about-us-block .founders-list .name {
	display: inline-block;
	vertical-align: top;
	color: #424242;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
}

.learn-more-block .about-us-block .founders-list .name:hover {
	color: #0f0f0f;
}

.learn-more-block .about-us-block .founders-list .designation {
	display: block;
	font-weight: 300;
	font-size: 14px;
}

.learn-more-block .about-us-block .img {
	display: block;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 0 9px;
}

.learn-more-block .about-us-block .img img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.learn-more-block .about-us-block p {
	margin-bottom: 23px;
}

.map-content-holder {
	overflow: hidden;
}

.aside-box {
	background: #f5f5f5;
	padding: 0 10px;
	position: relative;
}

.aside-box.property {
	overflow: hidden;
}

.aside-box.property:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 100%;
	box-shadow: -10px 0 20px 0 rgba(0, 0, 0, .1);
}

.aside-box .header-search-form {
	padding: 0 10px;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	z-index: 99;
}

.aside-box .heade-info {
	overflow: hidden;
	border-bottom: 1px solid #939393;
	color: #797979;
	padding: 3px 0 25px;
}

.aside-box .heade-info .filter-open {
	display: block;
	color: #424242;
}

.aside-box .heade-info .left-info {
	overflow: hidden;
}

.aside-box .heade-info .left-info > span {
	display: inline-block;
	vertical-align: top;
}

.aside-box .heade-info .left-info > span:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 1px;
	height: 22px;
	background: #bbbfc1;
	margin: 0 15px 0 12px;
}

.aside-box .heade-info .left-info > span:first-child:before {
	display: none;
}

.aside-box .items-holder {
	max-height: calc(100vh - 50px);
}

.aside-box.filter .items-holder {
	max-height: calc(100vh - 50px);
}

.aside-box .items-frame {
	padding: 68px 0;
	overflow: hidden;
}

.aside-box .item-row {
	overflow: hidden;
	margin: 0 -10px;
}

.aside-box .item-col {
	padding: 0 10px;
}

.aside-box .item-box {
	overflow: hidden;
	margin: 0 0 10px;
}

.aside-box .item-box img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.aside-box .item-box .detail-box {
	overflow: hidden;
	padding: 7px 0;
}

.aside-box .item-box .detail-box .price {
	float: right;
}

.aside-box .item-box .detail-box .type {
	display: block;
	overflow: hidden;
	padding: 0 10px 0 0;
	font-weight: 400;
}

.aside-box .item-box .detail-box .type a {
	color: #424242;
	text-decoration: none;
}

.aside-box .item-box .detail-box .type a:hover {
	color: black;
}

.aside-box .item-box .detail-box .desc {
	display: block;
	color: #797979;
	font-size: 14px;
	font-weight: 300;
}

.map-holder {
	overflow: hidden;
	position: relative;
	height: calc(100vh - 50px);
}

.map-holder .header-search-form {
	padding: 0 10px;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	z-index: 99;
}

.map-holder .map {
	position: relative;

}

.map-holder .map-pin-item {
	position: absolute;
	top: 34.6%;
	left: 3.8%;
	z-index: 9999;
}

.map-holder .map-pin-item.popup-active .map-pin-opener {
	display: none;
}

.map-holder .map-pin-item.popup-active .detail-popup {
	opacity: 1;
	visibility: visible;
}

.map-holder .map-pin-item .map-pin-opener {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 26px;
	height: 39px;
	background: url(../images/map-pin.png) no-repeat;
	outline: none;
}

.map-holder .map-pin-item .map-pin-opener:hover {
	background: url(../images/map-pin-hover.png) no-repeat;
}

.map-holder .map-pin-item .detail-popup {
	-webkit-transition: .3s linear opacity, .3s linear visibility;
	transition: .3s linear opacity, .3s linear visibility;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 198px;
	background: #fff;
	padding: 10px;
	visibility: hidden;
	opacity: 1;
	margin: 0 0 -24px -86px;
	z-index: 9999;
}

.map-holder .map-pin-item .detail-popup:after {
	content: "";
	position: absolute;
	bottom: -11px;
	left: 50%;
	margin-left: -11px;
	border: 11px solid #fff;
	border-width: 11px 11px 0;
	border-color: #fff transparent transparent;
}

.map-holder .map-pin-item .detail-popup:before {
	content: "";
	position: absolute;
	width: 24px;
	height: 8px;
	border-radius: 50%;
	background: rgba(0, 0, 0, .2);
	left: 50%;
	margin-left: -12px;
	bottom: -15px;
}

.map-holder .map-pin-item .detail-popup .detail-box {
	overflow: hidden;
	padding: 2px 0 0;
}

.map-holder .map-pin-item .detail-popup .detail-box .price {
	float: right;
	color: #424242;
	font-size: 14px;
}

.map-holder .map-pin-item .detail-popup .detail-box .type {
	display: block;
	overflow: hidden;
	font-weight: 400;
	font-size: 14px;
}

.map-holder .map-pin-item .detail-popup .detail-box .type a {
	color: #424242;
	text-decoration: none;
}

.map-holder .map-pin-item .detail-popup .detail-box .type a:hover {
	color: black;
	text-decoration: underline;
}

.map-holder .map-pin-item .detail-popup .detail-box .desc {
	display: block;
	font-size: 14px;
	color: #797979;
	letter-spacing: -.015em;
}

.button-holder {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	padding: 0 14px;
	z-index: 99;
	overflow: hidden;
}

.button-holder.static {
	position: static;
}

.button-holder.static .btn-col {
	padding: 0 5px;
}

.button-holder .btn-col {
	float: left;
	width: 50%;
	padding: 0 6px;
}

.button-holder .btn-holder {
	padding: 0 6px;
}

.btn-primary {
	-webkit-transition: background .3s;
	transition: background .3s;
	display: block;
	background: #ebbf65;
	color: #fff;
	margin: 0 0 10px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	padding: 15px;
	border-radius: 2px;
	text-decoration: none;
}

.btn-primary span {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-left: 23px;
}

.btn-primary span:before {
	position: absolute;
	top: 0;
	left: -1px;
	font-family: "icomoon";
}

.btn-primary.map span {
	padding-left: 20px;
}

.btn-primary.map span:before {
	content: "\e903";
	font-size: 17px;
}

.btn-primary.list span:before {
	content: "\e902";
	font-size: 10px;
}

.btn-primary.cancel {
	border: 1px solid #ebbf65;
	background: none;
	padding: 14px;
	color: #f0c978;
}

.btn-primary.cancel:hover {
	color: #fff;
	background: #ebbf65;
}

.btn-primary:hover {
	background: #e2a321;
}

.filter-wrap .filter-title {
	display: block;
	font-size: 16px;
	text-align: center;
	background: #34434a;
	color: #fff;
	font-weight: 400;
	padding: 14px;
	margin: 0 0 16px;
}

.filter-wrap .title {
	display: block;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: 0 0 15px;
}

.filter-wrap .sort-holder {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
	padding: 0 0 16px;
	margin: 0 0 17px;
}

.filter-wrap .sort-option {
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	text-align: center;
	margin: 0 -5px;
}

.filter-wrap .sort-option li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 14px;
	line-height: 1.2;
	color: #424242;
	position: relative;
	padding: 4px 0 5px 35px;
	margin: 0 5px 3px;
}

.filter-wrap .sort-option li .jcf-radio {
	position: absolute;
	top: 0;
	left: 0;
}

.filter-wrap .range-slider-wrap {
	border-bottom: 1px solid #d8d8d8;
	padding: 0 0 11px;
	margin: 0 0 17px;
}

.filter-wrap .range-slider-wrap .title {
	margin: 0 0 11px;
}

.filter-wrap .range-slider {
	overflow: hidden;
	padding: 0 49px 5px 39px;
	position: relative;
}

.filter-wrap .range-slider .value {
	position: absolute;
	color: #a9a9a9;
	font-size: 14px;
	top: 7px;
}

.filter-wrap .range-slider .value.start {
	left: 0;
}

.filter-wrap .range-slider .value.end {
	right: 0;
}

.filter-wrap .select-row {
	margin: 0 -6px;
}

.filter-wrap .select-row .select-col {
	float: left;
	width: 50%;
	padding: 0 6px;
}

.filter-wrap .select-row .title {
	float: none;
	text-align: center;
}

.filter-wrap .select-row .select-wrap {
	overflow: hidden;
}

.property-detail-holder {
	overflow: hidden;
}

.property-detail-holder .property-header {
	text-align: center;
	position: relative;
	padding: 14px 45px;
}

.property-detail-holder .property-header .close-link {
	position: absolute;
	top: 22px;
	right: 15px;
	text-decoration: none;
	font-size: 20px;
	line-height: 1;
	color: #333;
	outline: none;
}

.property-detail-holder .property-header .close-link:hover {
	color: #666;
}

.property-detail-holder .property-header address {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0;
	font-style: normal;
}

.property-detail-holder .property-header .meta {
	display: block;
	font-size: 14px;
	margin-bottom: 2px;
}

.property-slide {
	position: relative;
}

.property-slide .slide {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
}

.property-slide .slide.slide-active {
	z-index: 2;
}

.property-slide .slide img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.property-slide .btn-prev,
.property-slide .btn-next {
	position: absolute;
	top: 50%;
	z-index: 9;
	font-size: 0;
	line-height: 0;
	width: 43px;
	height: 63px;
	background: url(../images/arrow-left.png) no-repeat;
	outline: none;
	margin-top: -26px;
}

.property-slide .btn-prev:hover,
.property-slide .btn-next:hover {
	opacity: .4;
}

.property-slide .btn-prev {
	left: 0;
}

.property-slide .btn-next {
	right: 0;
	background: url(../images/arrow-right.png) no-repeat;
}

.property-slide .pagination-block {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 18px;
	z-index: 3;
}

.property-slide .pagination-block ul {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	text-align: center;
}

.property-slide .pagination-block ul li {
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	margin: 0 4px;
}

.property-slide .pagination-block ul li a {
	-webkit-transition: .15s all ease-in-out;
	transition: .15s all ease-in-out;
	display: block;
	width: 8px;
	height: 8px;
	background: #bfc4c8;
	border-radius: 50%;
	margin: 2px;
	outline: none;
}

.property-slide .pagination-block ul li:hover > a,
.property-slide .pagination-block ul li.active > a {
	width: 12px;
	height: 12px;
	margin: 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
	background: #fff;
}

.property-detail-box {
	overflow: hidden;
	padding: 13px 15px 0;
}

.property-detail-box .map-holder {
	margin-bottom: 20px;
	height: auto;
}

.property-detail-box .map-holder img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.property-detail-box .detail-text-holder {
	overflow: hidden;
}

.property-detail-box .detail-info {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
	padding: 0 0 10px;
	margin: 0 0 13px;
}

.property-detail-box .detail-info .left-text {
	float: left;
	max-width: 50%;
}

.property-detail-box .detail-info .left-text ul li {
	font-size: 14px;
	font-weight: 300;
	margin: 0 0 5px;
}

.property-detail-box .detail-info .price {
	display: block;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 12px;
}

.property-detail-box .detail-info .right-box {
	overflow: hidden;
	text-align: right;
}

.property-detail-box .detail-info .status-info {
	font-size: 0;
	line-height: 0;
	padding-top: 4px;
	margin-bottom: 11px;
}

.property-detail-box .detail-info .status-info li {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 3px 3px;
}

.property-detail-box .detail-info .status-info li span {
	display: block;
	width: 25px;
	height: 18px;
	background: #d6d9db;
	position: relative;
}

.property-detail-box .detail-info .status-info li span:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #34434a;
}

.property-detail-box .detail-info .status-info li span.half:after {
	top: 2px;
	bottom: -1px;
	max-width: 41%;
}

.property-detail-box .detail-info .tags-list {
	font-size: 0;
	line-height: 0;
	margin: 0 -1px;
}

.property-detail-box .detail-info .tags-list li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	margin: 0 0 3px 5px;
}

.property-detail-box .detail-info .tags-list li a {
	display: block;
	text-decoration: none;
	color: #424242;
	background: #e6e6e6;
	padding: 0 10px;
}

.property-detail-box .detail-info .tags-list li a:hover {
	background: silver;
}

.property-detail-box .text {
	line-height: 24px;
	overflow: hidden;
	margin: 0 0 14px;
}

.property-detail-box .button-holder {
	padding: 0;
	margin: 0 -5px;
	max-width: 408px;
	overflow: hidden;
	clear: right;
}

.property-detail-box .button-holder .btn-primary {
	padding: 15px 10px;
}

.popup-holder {
	position: relative;
	background: #f5f5f5;
	z-index: 99999;
	overflow: auto;
}

.popup-holder .popup-content {
	max-width: 616px;
	margin: 0 auto 30px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	padding: 13px 20px;
	height: 100%;
	position: relative;
}

.popup-holder .popup-header {
	position: relative;
	border-bottom: 1px solid #a6a6a6;
	text-align: center;
	padding: 2px 30px 14px;
	margin: 0 0 16px;
}

.popup-holder .popup-header .close {
	position: absolute;
	top: 2px;
	right: 4px;
	text-decoration: none;
	font-size: 24px;
	line-height: 1;
	color: #333;
}

.popup-holder .popup-header .close:hover {
	color: #595959;
}

.popup-holder .popup-header h2 {
	margin-bottom: 0;
	font-weight: 400;
	font-size: 20px;
}

.popup-holder .title {
	display: block;
	font-weight: 400;
	font-size: 12px;
	margin: 0 0 16px;
}

.popup-holder .property-type {
	border-bottom: 1px solid #d8d8d8;
	padding: 0 0 11px;
	margin: 0 0 16px;
}

.popup-holder .property-list li {
	position: relative;
	padding: 2px 0 5px 34px;
	margin: 0 0 10px;
}

.popup-holder .property-list li .jcf-radio {
	position: absolute;
	top: 0;
	left: 0;
}

.popup-holder .property-options {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
	margin: 0 0 17px;
}

.popup-holder .property-options .options-row {
	overflow: hidden;
	margin: 0 -10px;
}

.popup-holder .property-options .options-row .option-col {
	padding: 0 10px;
	margin-bottom: 10px;
}

.popup-holder .property-options .label-text {
	float: left;
	margin: 19px 11px 0 0;
	max-width: 40%;
	font-size: 12px;
}

.popup-holder .property-options .select-wrap {
	overflow: hidden;
}

.popup-holder .property-options .select-wrap .jcf-select {
	display: block;
}

.popup-holder textarea {
	line-height: 22px;
	min-height: 100px;
	margin-bottom: 26px;
}

.popup-holder .button-holder {
	position: static;
}

.user-profile-holder {
	max-width: 616px;
	margin: 0 auto;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	background: #fff;
	padding: 15px 20px 5px;
	min-height: calc(100vh - 50px);
	position: relative;
}

.profile-header {
	font-size: 0;
	line-height: 0;
	border-bottom: 1px solid #d8d8d8;
	padding: 0 0 20px;
}

.profile-header .img-holder {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
}

.profile-header .img-holder img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.profile-header .user-detail {
	display: inline-block;
	vertical-align: top;
	padding: 7px 0 0 20px;
	text-align: left;
}

.profile-header .user-detail .name {
	display: block;
	line-height: 1.2;
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 5px;
}

.profile-header .user-detail .name a {
	color: #424242;
	text-decoration: none;
}

.profile-header .user-detail .name a:hover {
	color: #686868;
}

.profile-header .user-detail .post {
	display: block;
	line-height: 1.2;
	font-size: 14px;
}

.user-menu {
	overflow: hidden;
}

.user-menu ul {
	font-size: 0;
	line-height: 0;
	border-bottom: 1px solid #a6a6a6;
	padding: 16px 0;
}

.user-menu ul li {
	display: inline-block;
	vertical-align: top;
	line-height: 1.2;
	font-size: 14px;
}

.user-menu ul li a {
	color: #797979;
	text-decoration: none;
	display: block;
	position: relative;
}

.user-menu ul li:hover > a,
.user-menu ul li.active > a {
	color: #424242;
}

.user-menu ul li:hover > a:after,
.user-menu ul li.active > a:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
	height: 1px;
	background: #333;
}

.user-content-holder {
	padding: 15px 0 0;
}

.user-content-holder h2 {
	font-weight: 400;
	line-height: 1.28;
	font-size: 20px;
	margin-bottom: 14px;
}

.user-property-item {
	overflow: hidden;
	margin: 0 0 50px;
}

.user-property-item:last-child {
	margin-bottom: 0;
}

.user-property-item .img-holder {
	margin: 0 0 6px;
}

.user-property-item .img-holder img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.user-property-item .text-row {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
	padding: 0 0 3px;
	margin: 0 0 3px;
}

.user-property-item .left-box {
	float: left;
	max-width: 50%;
}

.user-property-item .left-box ul li {
	font-weight: 300;
	margin: 0 0 4px;
}

.user-property-item .name-title {
	display: block;
	font-weight: 400;
	margin: 0 0 2px;
}

.user-property-item .right-text {
	overflow: hidden;
	text-align: right;
	padding-left: 10px;
}

.user-property-item .price {
	display: block;
	font-weight: 400;
	margin: 0 0 3px;
}

.user-property-item .tags-list {
	font-size: 0;
	line-height: 0;
}

.user-property-item .tags-list li {
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	margin: 0 0 3px 5px;
}

.user-property-item .tags-list li a {
	display: block;
	text-decoration: none;
	color: #424242;
	background: #e6e6e6;
	padding: 0 11px;
}

.user-property-item .tags-list li a:hover {
	background: silver;
}

.user-property-item .text {
	line-height: 22px;
	overflow: hidden;
	margin: 0 0 4px;
}

.user-property-item .text p {
	margin-bottom: 0;
}

.user-activity-list li {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
	padding: 2px 0 16px;
	margin: 0 0 14px;
}

.user-activity-list .left-text {
	float: left;
	max-width: 50%;
}

.user-activity-list .add-link {
	display: block;
	margin: 0 0 7px;
}

.user-activity-list .add-link a {
	color: #424242;
	text-decoration: none;
}

.user-activity-list .add-link a:hover {
	color: #686868;
}

.user-activity-list .time {
	display: block;
	font-weight: 300;
}

.user-activity-list .right-text {
	overflow: hidden;
	padding-left: 5px;
	text-align: right;
}

.user-activity-list address {
	font-style: normal;
	font-weight: 300;
	margin: 0 0 7px;
}

.user-activity-list .view-link {
	text-decoration: none;
	color: #f0c978;
	font-weight: 300;
}

.user-activity-list .view-link:hover {
	color: #e6a41c;
}

.user-schedule-list li {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
	padding: 16px 0;
}

.user-schedule-list li:first-child {
	border-top: 1px solid #d8d8d8;
}

.user-schedule-list .time-box {
	float: left;
	max-width: 50%;
}

.user-schedule-list time strong {
	display: block;
	font-weight: 400;
	margin-bottom: 7px;
}

.user-schedule-list time span {
	display: block;
	font-weight: 300;
}

.user-schedule-list .right-text {
	overflow: hidden;
	text-align: right;
	padding-left: 10px;
}

.user-schedule-list .link-remove {
	text-decoration: none;
	color: #f0c978;
	font-weight: 300;
}

.user-schedule-list .link-remove:hover {
	color: #e6a41c;
}

.date-add-box .title {
	display: block;
	font-size: 12px;
	font-weight: 400;
	margin: 0 0 7px;
}

.date-add-box .add-row {
	margin: 0 -10px;
}

.date-add-box .col {
	padding: 0 10px;
}

.date-add-box .inner-row {
	margin: 0 -6px;
}

.date-add-box .jcf-select {
	width: 100%;
}

.date-add-box .jcf-select .jcf-select-text {
	text-align: left;
}

.date-add-box .inner-col {
	float: left;
	width: 50%;
	padding: 0 6px;
}

.date-add-box .time-list li {
	position: relative;
	font-weight: 300;
	text-transform: uppercase;
	padding: 2px 0 4px 35px;
	margin: 0 0 9px;
}

.date-add-box .time-list .jcf-radio {
	position: absolute;
	top: 0;
	left: 0;
}

.date-add-box .btn-primary {
	min-height: 50px;
}

.message-container .message-header {
	text-align: center;
	padding: 4px 0 16px;
}

.message-container .message-header .info-title {
	display: block;
	font-size: 12px;
	font-weight: 300;
	color: #797979;
	line-height: 1.1;
	letter-spacing: .033em;
}

.message-container .message-header .time-wrap time {
	font-size: 12px;
}

.message-container .message-header .time-wrap time:first-child:before {
	display: none;
}

.message-container .message-header .time-wrap time:before {
	content: "";
	width: 1px;
	height: 12px;
	background: #747474;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 7px 0;
}

.messages-list li {
	border-bottom: 1px solid #f3f3f3;
}

.messages-list li:first-child {
	border-top: 1px solid #f3f3f3;
}

.messages-list li:hover > a {
	background: #f3f3f3;
	padding-left: 10px;
}

.messages-list a {
	-webkit-transition: padding-left .3s ease-in-out;
	transition: padding-left .3s ease-in-out;
	color: #424242;
	text-decoration: none;
	font-weight: 300;
	display: block;
	padding: 11px 5px 10px 0;
}

.messages-list .name {
	display: block;
	font-weight: 400;
	margin-bottom: 3px;
}

.messages-detail {
	overflow: hidden;
	background: #f3f3f3;
	padding: 20px;
}

.messages-detail textarea {
	min-height: 53px;
}

.conversation-list {
	margin-bottom: 36px;
}

.conversation-list li {
	padding: 0 0 16px;
}

.conversation-list li.reply .avatar-holder {
	float: right;
}

.conversation-list li.reply .message-body {
	padding: 0 24px 0 0;
	text-align: right;
}

.conversation-list li.reply .message-body span {
	background: #f3e3c0;
	text-align: left;
}

.conversation-list li.reply .message-body span:before {
	left: auto;
	right: -11px;
	border-width: 0 0 19px 11px;
	border-color: transparent transparent transparent #f3e3c0;
}

.conversation-list .avatar-holder {
	float: left;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.conversation-list .avatar-holder img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.conversation-list .message-body {
	width: calc(100% - 40px);
	float: left;
	padding-left: 24px;
}

.conversation-list .message-body span {
	display: inline-block;
	vertical-align: top;
	background: #fff;
	line-height: 22px;
	padding: 15px 20px 13px;
	letter-spacing: -.015em;
	margin: 0 0 4px;
	position: relative;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
}

.conversation-list .message-body span:before {
	content: "";
	position: absolute;
	top: 0;
	left: -11px;
	width: 0;
	height: 0;
	border: 11px solid #fff;
	border-width: 0 11px 19px 0;
	border-color: transparent #fff transparent transparent;
}

.conversation-list .message-body time {
	display: block;
	font-size: 12px;
	color: #a9a9a9;
	font-weight: 300;
	letter-spacing: .019em;
}

@media (min-width: 375px) {
	.jcf-select .jcf-select-text {
		margin-left: 29px;
	}

	.jcf-list .jcf-option {
		padding-left: 29px;
	}

	.header-nav ul li {
		margin-left: 21px;
	}

	.hero-banner .banner-holder {
		padding: 0 40px;
	}

	.learn-more-block .perfect-place-block .text-holder {
		padding: 0 20px;
		top: 34px;
	}

	.learn-more-block .perfect-place-block .text-holder h2 {
		margin-bottom: 32px;
	}

	.learn-more-block .perfect-place-block .item-lists li {
		margin-bottom: 21px;
	}

	.btn-primary {
		font-size: 14px;
	}

	.filter-wrap .sort-option {
		margin: 0 -14px;
	}

	.filter-wrap .sort-option li {
		margin: 0 14px 3px;
	}

	.property-detail-holder .property-header {
		padding: 14px 55px;
	}

	.property-detail-holder .property-header .close-link {
		top: 25px;
		right: 24px;
		font-size: 23px;
	}

	.property-detail-box {
		padding: 13px 20px 0;
	}

	.property-detail-box .detail-info .status-info li {
		margin: 0 0 6px 6px;
	}

	.property-detail-box .detail-info .tags-list li {
		margin: 0 0 6px 6px;
	}

	.popup-holder textarea {
		min-height: 68px;
	}

	.user-property-item .tags-list {
		padding-left: 40px;
	}

	.user-property-item .tags-list li {
		margin: 0 0 6px 6px;
	}
}

@media (min-width: 768px) {
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="search"],
	input[type="password"],
	textarea {
		font-size: 16px;
	}

	#header {
		padding: 10px 20px;
	}

	#header.landing {
		background: rgba(0, 0, 0, .5);
		padding: 25px 20px;
	}

	.logo {
		margin-top: 16px;
	}

	.nav-opener {
		display: none;
	}

	.header-nav {
		padding: 0 20px;
	}

	.header-nav ul li {
		font-size: 16px;
		margin-left: 37px;
		letter-spacing: .025em;
	}

	#nav {
		float: right;
		margin: -34px 0 0;
		position: 0;
		max-width: 250px;
	}

	#nav ul li {
		float: left;
		margin: 0 20px 0 21px;
		font-weight: 300;
	}

	.header-search-form {
		margin: 0 auto;
		max-width: 420px;
		padding-right: 80px;
	}

	.header-search-form .btn-search {
		font-size: 16px;
	}

	#footer {
		padding: 72px 0 62px;
	}

	#footer .left-text {
		overflow: hidden;
		line-height: 1.265;
	}

	#footer .footer-logo {
		width: 215px;
		margin: 0 -8px 27px;
	}

	.footer-top {
		margin-bottom: 19px;
	}

	.join-box {
		width: 20%;
		padding-top: 7px;
	}

	.footer-bottom .footer-link li {
		margin-left: 38px;
	}

	.hero-banner {
		max-height: 844px;
	}

	.hero-banner .bg-banner .img {
		min-width: 1400px;
	}

	.hero-banner .banner-holder {
		top: 230px;
	}

	.hero-banner h1 {
		margin-bottom: 20px;
	}

	.hero-banner p {
		margin-bottom: 49px;
	}

	.hero-banner .info-text {
		font-size: 16px;
		margin-bottom: 16px;
	}

	.hero-banner .btn-scroll-down {
		bottom: 16px;
		font-size: 16px;
		padding-bottom: 36px;
	}

	.hero-banner .btn-scroll-down:after {
		font-size: 31px;
	}

	.learn-more-block {
		padding-bottom: 80px;
	}

	.learn-more-block .holder {
		padding: 0 20px;
	}

	.learn-more-block h2 {
		margin-bottom: 13px;
	}

	.learn-more-block form {
		padding: 0;
	}

	.learn-more-block form .btn-search {
		font-size: 16px;
	}

	.learn-more-block .perfect-place-block .text-holder {
		top: 35px;
		bottom: 55px;
	}

	.learn-more-block .perfect-place-block .text-holder h2 {
		margin-bottom: 40px;
	}

	.learn-more-block .perfect-place-block .item-lists li {
		float: left;
		width: 25%;
		padding: 0 10px;
	}

	.learn-more-block .perfect-place-block .item-lists li {
		margin-bottom: 0;
	}

	.learn-more-block .perfect-place-block .item-lists .title {
		padding: 0 0 12px;
		margin-bottom: 6px;
	}

	.learn-more-block .perfect-place-block .item-lists .title:after {
		height: 3px;
	}

	.learn-more-block .img-holder .img-item {
		width: 25%;
	}

	.learn-more-block .about-us-block {
		margin: -50px 20px 0;
		background: #fff;
		padding: 33px 20px 76px;
		line-height: 1.266;
		box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .1);
	}

	.learn-more-block .about-us-block .content-holder {
		font-size: 18px;
	}

	.learn-more-block .about-us-block h2 {
		margin-bottom: 31px;
	}

	.learn-more-block .about-us-block .founders-list {
		max-width: 432px;
	}

	.learn-more-block .about-us-block .founders-list .name {
		font-size: 18px;
		margin: 0 0 1px;
	}

	.learn-more-block .about-us-block .founders-list .designation {
		font-size: 16px;
	}

	.aside-box.property {
		width: 43.6%;
	}

	.aside-box {
		float: left;
		width: 43.05%;
		padding: 20px 20px 0;
	}

	.aside-box .header-search-form {
		display: none;
	}

	.aside-box .heade-info .left-info {
		letter-spacing: -.015em;
	}

	.aside-box .items-holder {
		max-height: calc(100vh - 153px);
	}

	.aside-box.filter .items-holder {
		max-height: calc(100vh - 363px);
	}

	.aside-box .items-frame {
		padding: 20px 0 0;
	}

	.aside-box .item-box {
		margin-bottom: 9px;
	}

	.aside-box .item-box .detail-box .type {
		margin: 0 0 3px;
	}

	.map-holder {
		height: calc(100vh - 70px);
	}

	.map-holder .header-search-form {
		display: none;
	}

	.map-holder .map {
		min-width: 820px;
	}

	.map-holder .map > .map-image img {
		width: 100%;
		height: auto;
		vertical-align: top;
		margin-left: -50%;
		position: relative;
	}

	.visible-mobile {
		display: none !important;
	}

	.button-holder {
		display: none;
	}

	.button-holder.static {
		display: block;
	}

	.btn-primary {
		font-size: 16px;
	}

	.filter-wrap {
		border-bottom: 1px solid #939393;
		padding: 2px 0 0;
	}

	.filter-wrap .filter-title {
		display: none;
	}

	.filter-wrap .title {
		font-size: 12px;
		margin-bottom: 10px;
		text-align: left;
	}

	.filter-wrap .sort-holder {
		margin-bottom: 18px;
	}

	.filter-wrap .sort-option {
		margin: 0 -5px;
		text-align: left;
	}

	.filter-wrap .sort-option li {
		margin: 0 5px 5px;
		padding-left: 30px;
	}

	.filter-wrap .range-slider-wrap {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	.filter-wrap .range-slider-wrap .title {
		padding-top: 5px;
	}

	.filter-wrap .range-slider {
		padding: 0 49px 5px 40px;
	}

	.popup-holder {
		position: absolute;
		top: 70px;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255, 255, 255, .5);
		z-index: 9999;
	}

	.popup-holder {
		padding: 40px 0;
	}

	.popup-holder .popup-content {
		padding-top: 20px;
		padding-bottom: 80px;
		background: #fff;
		min-height: 800px;
	}

	.popup-holder .popup-header {
		padding: 2px 30px 24px;
	}

	.popup-holder .popup-header .close {
		font-size: 17px;
		top: 11px;
		right: 6px;
	}

	.popup-holder .popup-header .close .icon-close:before {
		content: "\e904";
	}

	.popup-holder .popup-header h2 {
		font-size: 24px;
	}

	.popup-holder .title {
		font-size: 14px;
	}

	.popup-holder .property-type {
		padding-bottom: 10px;
	}

	.popup-holder .property-list li {
		margin-bottom: 9px;
	}

	.popup-holder .property-options {
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	.popup-holder .property-options .options-row .option-col {
		float: left;
		width: 47.9%;
		margin-bottom: 0;
	}

	.popup-holder .property-options .label-text {
		font-size: 16px;
		margin-top: 13px;
	}

	.popup-holder .property-options .select-wrap.add {
		max-width: 103px;
	}

	.popup-holder textarea {
		min-height: 160px;
	}

	.popup-holder .button-holder {
		left: 37.4%;
		position: absolute;
		bottom: 10px;
		display: block;
	}

	.popup-holder .button-holder .btn-primary {
		height: 50px;
	}

	.user-profile-holder {
		padding-top: 20px;
		min-height: calc(100vh - 70px);
	}

	.profile-header .img-holder {
		width: 89px;
	}

	.profile-header .user-detail {
		padding-top: 14px;
	}

	.profile-header .user-detail .name {
		font-size: 24px;
		margin-bottom: 11px;
	}

	.profile-header .user-detail .post {
		font-size: 16px;
	}

	.user-menu.fixed-position {
		position: static !important;
	}

	.user-menu ul li {
		font-size: 16px;
		margin-right: 39px;
	}

	.user-content-holder {
		padding-top: 22px;
	}

	.user-content-holder.schedule h2 {
		margin-bottom: 23px;
	}

	.user-content-holder h2 {
		font-size: 24px;
		margin-bottom: 53px;
	}

	.user-property-item .img-holder {
		float: left;
		width: 48.6%;
		margin-bottom: 10px;
	}

	.user-property-item .detail-text {
		float: right;
		width: 51.4%;
		padding: 0 0 0 20px;
	}

	.user-property-item .text-row {
		padding-bottom: 13px;
		margin-bottom: 14px;
	}

	.user-property-item .left-box ul li {
		font-size: 16px;
		margin: 0 0 2px;
	}

	.user-property-item .name-title {
		font-size: 16px;
		margin: 0 0 11px;
	}

	.user-property-item .price {
		font-size: 16px;
		margin: 0 0 11px;
	}

	.user-property-item .tags-list {
		padding-left: 0;
	}

	.user-property-item .text {
		line-height: 24px;
		margin-bottom: 14px;
	}

	.user-property-item .text p {
		margin-bottom: 1em;
	}

	.user-property-item .btns-holder {
		float: left;
		width: 48.6%;
	}

	.user-property-item .btns-holder .btn-primary {
		line-height: 20px;
	}

	.user-activity-list li {
		padding: 3px 0 25px;
		margin: 0 0 23px;
	}

	.user-activity-list .add-link {
		margin-bottom: 6px;
	}

	.user-activity-list .right-text {
		padding-left: 10px;
	}

	.user-activity-list address {
		margin-bottom: 6px;
	}

	.user-schedule-list {
		padding-bottom: 115px;
	}

	.user-schedule-list li {
		padding: 26px 0 19px;
	}

	.user-schedule-list time strong {
		margin-bottom: 5px;
	}

	.user-schedule-list time span {
		margin-bottom: 7px;
	}

	.date-add-box {
		position: absolute;
		bottom: 1px;
		left: 20px;
		right: 20px;
	}

	.date-add-box .title {
		border-bottom: 1px solid #a6a6a6;
		padding: 0 0 6px;
		margin-bottom: 15px;
	}

	.date-add-box .col {
		float: left;
		width: 42%;
	}

	.date-add-box .col:first-child {
		width: 58%;
	}

	.date-add-box .inner-row {
		margin: 0 -10px;
	}

	.date-add-box .inner-row.add .inner-col {
		width: 70%;
	}

	.date-add-box .inner-row.add .inner-col:first-child {
		width: 30%;
	}

	.date-add-box .jcf-select {
		margin: 5px 0 0;
	}

	.date-add-box .jcf-select .jcf-select-text {
		margin-left: 29px;
	}

	.date-add-box .inner-col {
		padding: 0 10px;
		width: 44.1%;
	}

	.date-add-box .inner-col:first-child {
		width: 55.9%;
	}

	.date-add-box .time-list {
		padding-bottom: 5px;
	}

	.date-add-box .btn-primary {
		margin: 5px 0 0;
	}

	.message-container .message-header {
		margin: -5px 0 0;
		padding: 0 0 15px;
	}

	.messages-list {
		float: left;
		width: 192px;
	}

	.messages-list li:hover > a,
	.messages-list li.active > a {
		background: #f3f3f3;
		padding-left: 20px;
	}

	.messages-list .name {
		margin-bottom: 1px;
	}

	.messages-detail {
		padding-bottom: 9999px;
		margin-bottom: -9999px;
	}

	.conversation-list {
		margin-bottom: 177px;
	}

	.conversation-list .message-body span {
		padding-bottom: 15px;
	}
}

@media (min-width: 769px) {
	#nav ul li:hover > a,
	#nav ul li.active > a {
		color: #e6a41c;
	}

	.learn-more-block .about-us-block .img {
		margin-bottom: 8px;
	}
}

@media (min-width: 1024px) {
	.header-search-form {
		max-width: 595px;
	}

	.learn-more-block .perfect-place-block .text-holder {
		bottom: 135px;
		top: 71px;
	}

	.learn-more-block .perfect-place-block .text-holder h2 {
		margin-bottom: 50px;
	}

	.learn-more-block .about-us-block {
		margin: -130px 40px 0;
	}

	.aside-box .heade-info .filter-open {
		float: right;
	}

	.aside-box .heade-info .left-info {
		padding-right: 10px;
	}

	.aside-box .items-holder {
		max-height: calc(100vh - 135px);
	}

	.aside-box.filter .items-holder {
		max-height: calc(100vh - 317px);
	}

	.aside-box .item-col {
		float: left;
		width: 50%;
	}

	.filter-wrap .title {
		float: left;
		font-weight: 400;
		font-size: 16px;
	}

	.filter-wrap .sort-option {
		padding-left: 10px;
		margin: 0;
	}

	.filter-wrap .sort-option li {
		margin: 0 8px 5px;
		padding-left: 35px;
		font-size: 16px;
	}

	.filter-wrap .range-slider .value.start {
		left: 10px;
	}

	.filter-wrap .select-row {
		margin: 0 -3px;
	}

	.filter-wrap .select-row .select-col {
		padding: 0 3px;
	}

	.property-detail-holder .property-header {
		padding: 15px 60px;
	}

	.property-detail-holder .property-header .close-link {
		top: 31px;
		right: 28px;
		font-size: 25px;
	}

	.property-detail-holder .property-header address {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.property-detail-holder .property-header .meta {
		font-size: 16px;
		margin-bottom: 4px;
	}

	.property-slide .btn-prev {
		left: 10px;
	}

	.property-slide .btn-next {
		right: 10px;
	}

	.property-slide .pagination-block {
		bottom: 22px;
	}

	.property-detail-box {
		padding-top: 20px;
	}

	.property-detail-box .detail-info {
		padding: 0 0 12px;
	}

	.property-detail-box .detail-info .left-text ul li {
		font-size: 16px;
		margin-bottom: 2px;
	}

	.property-detail-box .detail-info .price {
		font-size: 24px;
		margin: 0 0 9px;
	}

	.property-detail-box .detail-info .status-info li span {
		width: 33px;
		height: 24px;
	}

	.property-detail-box .detail-info .tags-list {
		padding-left: 100px;
	}
}

@media only screen and (min-width: 1025px) {
	a[href^=tel],
	a[href^=skype],
	a[href^=sms] {
		cursor: default;
		pointer-events: none;
	}
}

@media (min-width: 1400px) {
	#header.landing {
		padding-bottom: 96px;
	}

	#nav {
		max-width: 400px;
	}

	.header-search-form {
		max-width: 616px;
		padding-right: 0;
	}

	.hero-banner .banner-holder {
		top: 274px;
	}

	.learn-more-block .perfect-place-block .text-holder {
		bottom: 185px;
	}

	.learn-more-block .perfect-place-block .text-holder h2 {
		margin-bottom: 68px;
	}

	.learn-more-block .about-us-block {
		margin-top: -180px;
	}

	.aside-box.property {
		padding-right: 28px;
	}

	.aside-box .items-holder {
		max-height: calc(100vh - 141px);
	}

	.aside-box.filter .items-holder {
		max-height: calc(100vh - 287px);
	}

	.filter-wrap .sort-option {
		padding-left: 39px;
	}

	.filter-wrap .sort-option li {
		margin: 0 14px 5px;
	}

	.filter-wrap .range-slider {
		padding-left: 68px;
	}

	.filter-wrap .range-slider .value.start {
		left: 30px;
	}

	.filter-wrap .select-row .title {
		margin-right: 10px;
		max-width: 160px;
		padding: 13px 0 0;
		float: left;
		text-align: left;
	}

	.property-detail-holder .property-header {
		padding: 22px 80px;
	}

	.property-detail-holder .property-header .close-link {
		top: 37px;
		right: 38px;
		font-size: 31px;
	}

	.property-detail-box .map-holder {
		overflow: hidden;
		width: 288px;
		float: left;
	}

	.property-detail-box .detail-text-holder {
		padding: 12px 0 0 30px;
		float: right;
		padding-left: 318px;
		margin-left: -288px;
		max-width: 100%;
	}

	.property-detail-box .detail-info .status-info {
		padding: 3px;
	}

	.property-detail-box .detail-info .status-info li {
		margin: 0 7px 0 1px;
	}

	.property-detail-box .button-holder {
		padding-left: 25px;
		max-width: 433px;
	}

	.property-detail-box .button-holder .btn-primary {
		padding: 16px;
	}
}

@media (min-width: 1440px) {
	.learn-more-block .perfect-place-block .text-holder {
		bottom: 315px;
	}

	.learn-more-block .about-us-block {
		margin-top: -309px;
	}
}

@media (max-width: 1399px) {
	.aside-box .heade-info .filter-open {
		font-size: 12px;
	}

	.aside-box .heade-info .left-info {
		font-size: 12px;
	}

	.aside-box .heade-info .left-info > span:before {
		margin: 0 5px;
		height: 16px;
	}

	.filter-wrap .select-row .jcf-select {
		width: 100%;
	}
}

@media (max-width: 1023px) {
	.aside-box .heade-info {
		padding: 3px 0 20px;
	}

	.aside-box .heade-info .filter-open {
		margin-bottom: 10px;
	}

	.aside-box .heade-info .left-info {
		font-size: 11px;
	}

	.aside-box .heade-info .left-info > span:before {
		height: 14px;
		margin: 0 4px;
	}

	.property-detail-box .text {
		letter-spacing: -.013em;
		margin-bottom: -1px;
	}

	.user-property-item .text {
		letter-spacing: -.013em;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 14px;
	}

	h1,
	.h1 {
		font-size: 36px;
	}

	h2,
	.h2 {
		font-size: 24px;
	}

	.jcf-range .jcf-range-wrapper:after {
		background: #d8d8d8;
	}

	.header-bar {
		overflow: hidden;
	}

	.nav-form-holder {
		-webkit-transition: .6s opacity, .6s visibility;
		transition: .6s opacity, .6s visibility;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 9999;
		background: #34434a;
		padding: 0 20px;
	}

	.nav-active .nav-form-holder {
		visibility: visible;
		opacity: 1;
	}

	.resize-active .nav-form-holder {
		-webkit-transition-duration: 0s;
		transition-duration: 0s;
		-webkit-transition: none;
		transition: none;
	}

	#nav ul li {
		text-align: center;
		border-top: 1px solid #40545d;
	}

	#nav ul li:first-child {
		border: none;
	}

	#nav ul li:hover > a,
	#nav ul li.active > a {
		background: #ebbf65;
	}

	#nav ul li a {
		color: #fff;
		padding: 16px 10px;
	}

	.header-search-form .input-field {
		height: 48px;
		font-size: 12px;
		padding: 12px 10px;
	}

	.header-search-form .btn-search {
		padding: 14px;
		font-size: 12px;
		min-width: 75px;
	}

	.join-list {
		display: none;
	}

	.learn-more-block .img-holder {
		margin-right: -1px;
	}

	.learn-more-block .about-us-block p {
		line-height: 1.58;
		margin-bottom: 24px;
	}

	.aside-box .heade-info {
		display: none;
	}

	.map-holder .map {
		height: 100%;
	}

	.map-holder .map > .map-image img {
		min-height: calc(100vh - 50px);
		width: auto;
		max-width: none;
		min-width: 100%;
	}

	.map-holder .map-pin-item {
		top: 30.6%;
		left: 50%;
	}

	.hidden-mobile {
		height: 0 !important;
		overflow: hidden;
		padding: 0 !important;
		margin: 0 !important;
	}

	textarea.hidden-mobile {
		display: none !important;
	}

	.filter-wrap {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(245, 245, 245, .95);
		overflow: auto;
		z-index: 999;
		padding: 0 0 80px;
	}

	.filter-wrap .wrap {
		min-height: 480px;
	}

	.filter-wrap .filter-holder {
		margin: 0 20px 60px;
		border-bottom: 1px solid #939393;
		padding: 0 0 10px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.filter-wrap .button-holder {
		position: static;
	}

	.popup-holder {
		padding-bottom: 9999px;
		margin-bottom: -9999px;
	}

	.popup-holder .button-holder {
		padding: 0;
		margin: 0 -6px;
	}

	.profile-header {
		text-align: center;
	}

	.user-menu.fixed-position {
		left: 0 !important;
		right: 0;
		padding-left: 20px;
		padding-right: 20px;
		background: rgba(255, 255, 255, .95);
		z-index: 999;
	}

	.user-menu ul {
		text-align: justify;
		font-size: 1px;
		line-height: 0;
		text-justify: newspaper;
		-moz-text-align-last: justify;
		text-align-last: justify;
	}

	.user-menu ul > * {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		font-size: 16px;
		line-height: 1.26;
	}

	.user-menu ul:after {
		content: "";
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}

	.user-menu ul li a {
		padding-bottom: 1px;
	}

	.user-menu ul li:hover > a:after,
	.user-menu ul li.active > a:after {
		bottom: -2px;
	}

	.user-content-holder.schedule h2 {
		text-align: center;
		margin-bottom: 15px;
	}

	.user-content-holder h2 span {
		display: none;
	}

	.user-property-item {
		margin: 0 -10px 10px;
	}

	.user-property-item .btns-holder {
		margin: 0 -5px;
	}

	.user-property-item .btns-holder .btn-col {
		float: left;
		width: 50%;
		padding: 0 5px;
	}

	.user-profile-management #header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
	}

	.user-profile-management #main {
		padding-top: 50px;
	}

	.user-activity-list {
		margin-bottom: 50px;
	}

	.user-schedule-list time span + span {
		display: none;
	}

	.date-add-box {
		padding: 6px 0;
	}

	.date-add-box .title {
		text-align: center;
	}

	.date-add-box .time-list {
		font-size: 0;
		line-height: 0;
		text-align: center;
		padding: 12px 0;
		margin: 0 -5px;
	}

	.date-add-box .time-list li {
		font-size: 14px;
		line-height: 1.2;
		display: inline-block;
		vertical-align: top;
		margin: 0 14px;
		padding-top: 5px;
	}

	.messages-detail {
		margin: 0 -20px -20px;
	}

	.messages-detail h2 {
		text-align: center;
		margin-bottom: 34px;
	}
}

@media (max-width: 374px) {
	.footer-bottom {
		font-size: 12px;
	}

	.learn-more-block form .input-field {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 13px;
	}

	.map-holder .map-pin-item {
		left: 9%;
	}

	.date-add-box .time-list li {
		margin: 0 7px;
	}
}

