@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

.stext {
		text-align: left;
		font-size: 1.0em;
		position:relative;
		top: 10px;
                padding:8px 8px;
                width:400px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}


.searchbutt {
                position:relative;
                padding:10px 15px;
                left: 8px;
		top: 8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.searchbutt:hover  {
                background-color:#fafafa;
                color:#207cca;
}
