@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 1.0em; color: #666;}

/* Stuff i added for username and messages */

.datetext {
		text-align: left;
		font-size: 1.0em;
		position:relative;
		top: 10px;
       		display: inline-block;
                padding:8px 8px;
                width:200px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}

h2 .outertext { 
   overflow: hidden; 
   /*width: 100%;*/ 
}


.outertext .innertext { 
   position: relative;
   top: -320px; 
   left: -90px;
   color: white;
   font-size: 24px;
   /*font: bold 24px/45px Helvetica, Sans-Serif; */
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   /*padding: 10px;*/ 
}

.minipics:hover{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.usernames{
    
font-weight: bold
    
}


.usernames_s{
    text-align: right;
}

.messages a:over{
      background:#F2F2F2;
}


.Middle_Headline{
		font-size: 28px;
		line-height: 40px;
		letter-spacing: -1px;color: #444;
}

.Paragraph_Text{
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		color: #444;
}
.Large_Headline{
		font-size: 40px;
         line-height: 32px;
         letter-spacing: -1px;
		color: #444;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
        font-weight: 100;
}

p.tags {
    border-style: solid;
    border-width: medium;
}



select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#lean_overlay {
    position: fixed;
    z-index:10;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 20;   
	width:auto;
	height: 70%;
	left:50%;
	top:40px;
	background: #FFF;
}

.desc_input{
   padding-left:0;
   padding-top:0;
   padding-bottom:0.4em;
   padding-right: 0.4em;
   width: 500px;
   height: 300px;
}


.pac-container {

    background-color: #FFF;
    z-index:100000!important;
    position: fixed;
    display: inline-block;
    float: left;
}

/*check boxes for tags*/

ul.checkbox  { 
  margin: 0; 
  padding: 0; 
  margin-left: 10px; 
  list-style: none; 
} 
   
ul.checkbox li input { 
  margin-right: .15em; 
} 

ul.checkbox li { 
  border: 1px transparent solid; 
  display:inline-block;
  width:10em;
} 

ul.checkbox li label { 
  margin-left: ; 
} 
ul.checkbox li:hover, 
ul.checkbox li.focus  { 
  background-color: lightyellow; 
  border: 1px gray solid; 
  width: 10em; 
} 


#modal_trigger {margin:7px auto; width:230px; display:inline-block;}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:1.5em; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:1.0em;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

