<!DOCTYPE html>
<head>
<html lang="en">
<title>RentRef</title>  
<script type="text/javascript" src="../static/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

<! fancy box files>
<link rel="stylesheet" href="../static/jquery.fancybox.css" type="text/css" media="screen"/>
<link type="text/css" rel="stylesheet" href="../static/searchbar.css" />
<script type="text/javascript" src="../static/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../static/index_fb.js"></script>
<link rel="stylesheet" type="text/css" href="../static/pretty-radio.css"/>

<! stuff for icon>
<link rel="icon" type="image/png" href="../static/favicomatic/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../static/favicomatic/favicon-16x16.png" sizes="16x16" />

<! stuff for using calanders to input dates>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    
<! stuff for menu button>    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    
    
 <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
     
     
     function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
}  ;
  </script>

   <style>

html,body{
   /* margin-top:50px;*/
	width: 100%;
        height: 100%;
        margin-top: 25px;
        padding: 0;

}
.menuBar{
    background:#A4A4A4;
    width:100%;
    height:50px;
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:100000;
    }
.logo{
    float:right;
    margin-right:10px;
    }
.nav{	
    float:left;
    margin-left:0px;
    margin-right:10px}
.nav ul li{
    list-style:none;
    float:left;
    }

      #map {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
      }
   </style>


<link type="text/css" rel="stylesheet" href="../static/style.css" />

</head>



<body>

<form id='menu' method='post'>
<div class="menuBar">
        <img class="logo" src="../static/rentrebel_logo.png" height=65%/>
        <div class="nav"> 


<div class="container">
	{% if login_intro == False %}
	<a id="account_trigger" href="#account" class="btn">{{login_status}}</a>
       <div id="account" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Account</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section>
			<div class="popupContainer">
                <h1>My Account</h1>
				<form method="post" id='account' name='account' enctype=multipart/form-data>
				
                    <li><input type="submit" class="btn btn_red" name='logout' value="Logout"/></li>
                    <li><input type="submit" class="btn btn_red" name='profile' value="My Profile"/></li>

				{{ form_prop.csrf_token }}
				</form>
			</div>
		
		</section>
		</div>
<script type="text/javascript">
	$("#account_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>
	{% else %}
	<a id="modal_trigger" href="#modal" class="btn">{{login_status}}</a>
	{% endif %}
	<div id="modal" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Login</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				<img class="logo" src="../static/rentrebel_logo.png" height=65%/>

				<div class="centeredText">
					<span>Login or Register!</span>
				</div>

				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
				</div>
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form method="post">
					<label>Email / Username</label>
           			        <input type="email" name="email"/>
					<br />

					<label>Password</label>
					<input type="password" name="password"/>
					<br />

					<div class="checkbox">
						<input id="remember" name="remember" type="checkbox" value="remember"/>
						<label for="remember">Remember me on this computer</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><input type="submit" class="btn btn_red" name='user_login' value="Login"/></div>
					</div>
					{{ form2.csrf_token }}
				</form>

				<a href="#" class="forgot_password">Forgot password?</a>
			</div>

			<!-- Register Form -->
			<div class="user_register">
				<form method="post" enctype=multipart/form-data>

					<label>Name</label>
           			        <input type="text" name="name" placeholder="Only your first name will be visible to users"/>
					<br />

					<label>Email Address</label>
           			        <input type="email" name="email"/>
					<br />

					<label>Password</label>
					<input type="password" name="password" id="pass1"/>
					<br />
                     <input type="password" name="pass2" id="pass2" onkeyup="checkPass(); return false;">
                    <span id="confirmMessage" class="confirmMessage"></span>

					<label for="utype">I am a:</label>
					<select id="utype" name="utype">
					  <option value="0">Renter/tenant</option>
					  <option value="1">Landlord</option>
					</select> 
                    
                    <label>About Me</label>
                    <textarea name="about_me" placeholder = "A sentence or two about me to help close deals!"></textarea>
					<br />
                    
                    <label>Profile Image:</label>
				    <input type=file name="profile_image"/>
                    
					<div class="checkbox">
						<label for="send_updates">Check your email for confirmation!</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><input type="submit" class="btn btn_red" name='user_login' value="Register"/></div>
					</div>
					{{ form.csrf_token }}
				</form>
			</div>
		</section>



<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	})
</script>

</form>
	</div>
		<a id="newprop_trigger" href="#list" class="btn">List my Property</a>
	       <div id="list" class="popupContainer" style="display:none;z-index:20;">
			<header class="popupHeader">
				<span class="header_title">New Listing</span>
				<span class="modal_close"><i class="fa fa-times"></i></span>
			</header>
		
			<section class="popupBody">
				<form method="post" id='list_it' name='list_it' enctype=multipart/form-data>
				<div class="list_it">
					<div class="">

						 <div id="locationField">
						      <input id="autocomplete" class='stext' name='address' placeholder="What's the address?" type="text"></input>
						    </div>
			
						<br />

						<fieldset class="apttype">
						  <legend>Property Type</legend>
						  <label for="Apartment">
						    <input type="radio" value="Apartment" name="ptype" id="Apartment"> <span>Apartment</span>
						  </label>

						  <label for="Room">
						    <input type="radio" value="Room" name="ptype" id="Room"> <span>Room</span>
						  </label>

						  <label for="House or Condo">
						    <input type="radio" value="House or Condo"  name="ptype" id="House or Condo" checked> <span>House or Condo</span>
						  </label>
						</fieldset>

					</div>
					<input type="submit" class="btn btn_red" name='inital_info' id="initial_info" value="Just two more steps!" style="margin: 20px 0 10px;"/>
				</div>

				
				<div class="more_info" style="display: none;">
					<div id='more_info' name='more_info'>
					<div class="">
                        
                        <br />
		   			        <input class="stext" type="text" name="apt_num" placeholder="Apt or House #?" style="margin: 20px 0 10px;"/>
						<br />
                        
                        <input type="text" class="stext" id="datepicker" name="date_avail" placeholder="When is the place available?" style="margin: 20px 0 10px;"/>
                    	<br />

						<div class="one_half">
						<label>
						    <select name="brnum">
							<option selected> How many bedrooms? </option>
							<option value="0">Studio</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="999">6+</option>
						    </select>
						</label>
						</div>
						<div class="one_half last">
						<label>
						    <select name="bathrnum">
							<option selected> How many bathrooms? </option>
							<option value="0.5">1/2</option>
							<option value="1">1</option>
							<option value="1.5">1 1/2</option>
							<option value="2">2</option>
							<option value="2.5">2 1/2</option>
							<option value="3">3</option>
							<option value="3.5">3 1/2</option>
							<option value="4">4</option>
							<option value="4.5">4 1/2</option>
							<option value="5">5</option>
							<option value="5.5">5 1/2</option>
							<option value="999">6+</option>
						    </select>
						</label>
						</div>

						<label>
						    <select name='pet_status'>
							<option selected> Pets? </option>
							<option value="no_pets">No Pets</option>
							<option value="cats">Cats</option>
							<option value="dogs">Dogs</option>
							<option value="pets_ok">Pets OK</option>
						    </select>
						</label>


						<br />
		   			        <input type="text" class='stext' name="rent" placeholder="Rent $"/>
						<br />
					</div>
					<div><input type="submit" class="btn btn_red" name='back_initial' id="back_initial" value="Back" style="margin: 20px 0 10px;"/>
					<a href="#" id="upload_photos" class="btn" style="margin: 20px 0 10px;">Upload Photos!</a></div>

					</div>
				</div>

				<div class="picture_uploads" style="display: none;">
					<div id='pic_uploads' name='pic_uploads'>
					<div class="">
						<fieldset class="apttype">
						  <legend>Upload Images</legend>
						     <label>Image 1</label>
						<input type=file name="photo1"/>
                            <label>Image 2</label>
						<input type=file name="photo2"/>
                            <label>Image 3</label>
						<input type=file name="photo3"/>
                        </fieldset>
					</div>
                        
					<div><input type="submit" class="btn btn_red" name='back_next' id="back_next" value="Back" style="margin: 20px 0 10px;"/>
					<a href="#" id="to_description" class="btn" style="margin: 20px 0 10px;">Description</a></div>
					</div>
				</div>


				<div class="description" style="display: none;">
					<div id='description' name='description'>
					<div class="">
						
						<textarea class="desc_input" name="description" placeholder = "Enter a short description here: "></textarea>

						<label>Choose from popular tags below:</label>
						<fieldset class="smaller">
						  <legend>Property Tags</legend>
                            <ul class="checkbox">                             
						  {% for tag in tags %}
						  <li><label><input type="checkbox" name="{{tag}}" value="{{tag}}">{{tag}}</label></li> 
						  {% endfor %}
				         </ul> 

						</fieldset>
						
						<label>Or enter your own tags, starting with a # for each:</label>
		   			        <input class='stext'type="text" name="usertags" placeholder="#noise OK #large closets #young tenants"/></input>
					</div>

					<div><input type="submit" class="btn btn_red" name='back_pics' id="back_pics" value="Back" style="margin: 20px 0 10px;"/>
					<input type="submit" id="submit_prop" name="submit_prop" value="List it!" class="btn" style="margin: 20px 0 10px;"></input></div>
					</div>
				</div>

				{{ form_prop.csrf_token }}
				</form>
			</section>




		</div>	
	</div>		
</div>
<script type="text/javascript">
	$("#newprop_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#initial_info").click(function(){
			$(".list_it").hide();
			$(".more_info").show();
			return false;
		});

		$("#upload_photos").click(function(){
			$(".more_info").hide();
			$(".picture_uploads").show();
			return false;
		});

		$("#to_description").click(function(){
			$(".picture_uploads").hide();
			$(".description").show();
			return false;
		});

		// Going back to Social Forms
		$("#back_initial").click(function(){
			$(".more_info").hide();
			$(".list_it").show();
			return false;
		});

		$("#back_next").click(function(){
			$(".picture_uploads").hide();
			$(".more_info").show();
			return false;
		});
		
		$("#back_pics").click(function(){
			$(".description").hide();
			$(".picture_uploads").show();
			return false;
		});


	})
</script>



<form id='searchbar' name='searchbar' method='post'>
                               <!<input name="search_loc" class='stext' type="text" placeholder="Where to?" required>
				<div id="locationField">
				<input name='search_loc' id="autocomplete2" class = 'stext' placeholder="Where to?" type="text" required></input>

						    <script>
							var autocomplete;
							function initAutocomplete() {
	 						 // Create the autocomplete object, restricting the search to geographical
	  						// location types.
	  						autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),{types: ['geocode']});
							autocomplete2 = new google.maps.places.Autocomplete(document.getElementById('autocomplete2'), { types: [ 'geocode' ] });

							}

				   			 </script>

					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NNkMPOTfOA4gAeNns4rvGFQzRTM38zM&signed_in=true&libraries=places&callback=initAutocomplete"
						async defer></script>
                                <input name="search_butt" class='searchbutt' type="submit" value="Search">				
				</div>
</form>
</div>	



<!<a class="fancybox" rel="group" href="../static/dummy_data/1.jpg"></a>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

   <!<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <!<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

   <!<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <link rel="stylesheet" href="https://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css">
   <script src="https://rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>


   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

   <link rel="stylesheet" href="https://birdage.github.io/Leaflet.awesome-markers/dist/leaflet.awesome.rotate.css">


   <div class="folium-map" id="folium_376d700809604b63a32a1df11cf00285" style="width: 100%; height: 60%"></div>

   <script>

      var base_tile = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          minZoom: 1,
          attribution: 'Map data (c) <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
      });

      var baseLayer = {
        "Base Layer": base_tile
      };

      var layer_list = {
      
      };
      var southWest = L.latLng(-90, -180),
          northEast = L.latLng(90, 180),
          bounds = L.latLngBounds(southWest, northEast);
      var map = L.map('folium_376d700809604b63a32a1df11cf00285', {
                                       center:[{{ms.center[0]}},{{ms.center[1]}}],
                                       zoom: 18,
                                       maxBounds: bounds,
                                       layers: [base_tile]
                                     });

      L.control.layers(baseLayer, layer_list).addTo(map);

      //cluster group
      var clusteredmarkers = L.markerClusterGroup();
      //section for adding clustered markers
      
      //add the clustered markers to the group anyway
      map.addLayer(clusteredmarkers);
       
       // function we need to use post requests from js
       function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}      
       
      // loop for marker creation
    {% for r in rental %}	
      var marker_1_icon = L.AwesomeMarkers.icon({ icon: 'info-sign',markerColor: 'blue',prefix: 'glyphicon',extraClasses: 'fa-rotate-0'});
      var marker_1 = L.marker([{{r.latitude}},{{r.longitude}}],{'icon':marker_1_icon});
      marker_1.bindPopup("<h2>{{truncate_comma(r.address)}}: ${{r.rent}}</h2><img src="+"\"../static/dummy_data/{{r.pics[0].id}}.jpg\"width=250px\">").openPopup();
      marker_1._popup.options.maxWidth = 300;
      
	//marker_1.on('dblclick', function(){$.fancybox.open({href : '../static/dummy_data/{{r.pics[0].id}}.jpg',title : "<font size=\"5\"><ul>{{r.address}} - ${{r.rent}}</ul>{{r.description}}</font> <ul><input href=\"http://google.com\" type=\"submit\" style=\"height:20px;text-align: center;\" value=\"Contact {{r.tenant.name}}\"</input></ul><ul>{% for t in rental.tags%}{{t.tag}}--{% endfor %}</ul>"});});
     
     //marker_1.on('dblclick', function(){$.post($SCRIPT_ROOT+'/show_property',{property_profile:"{{r.id}}"})});
	marker_1.on('dblclick', function(){post('/show_property',{property_profile:"{{r.id}}"});});
     map.addLayer(marker_1);
 {% endfor %}

   </script>

<form method='post'>
<div>

<center>

{% for r in rental %}
<div class="minipics" style="display: inline-block;margin-left:25px;">
<img src="../static/dummy_data/{{r.pics[0].name}}" width="400px" height="300px" onclick="document.getElementById('{{r.id}}').click(); return false;">
        <input type="submit" id='{{r.id}}' name="sent_threads" value="{{r.id}}" style="visibility: hidden;" />
<h2 class="outertext"><span class="innertext">{{truncate_comma(r.address)}} ${{r.rent}}</span></h2>
</div>
{% if loop.index%3==0 %}
<br>
</center>
<center>
{% endif %}


{% endfor %}

</div>
</form>




</body>
</html>
