<!DOCTYPE html>
<head>
<html lang="en">
<title>RentRebel</title>
<script type="text/javascript" src="../static/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

<! fancy box files>
<link rel="stylesheet" href="../static/jquery.fancybox.css" type="text/css" media="screen"/>
<link type="text/css" rel="stylesheet" href="../static/searchbar.css" />
<script type="text/javascript" src="../static/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../static/index_fb.js"></script>
<link rel="stylesheet" type="text/css" href="../static/picture_slider.css"/>

<! stuff for icon>
<link rel="icon" type="image/png" href="../static/favicomatic/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../static/favicomatic/favicon-16x16.png" sizes="16x16" />

<! stuff for using calanders to input dates>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<! stuff for menu button>    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    
    
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    
 <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  $(function() {
    $( "#datepicker1" ).datepicker();
  });
       $(function() {
    $( "#datepicker2" ).datepicker();
  });
       $(function() {
    $( "#datepicker3" ).datepicker();
  });
       $(function() {
    $( "#datepicker4" ).datepicker();
  });
       $(function() {
    $( "#datepicker5" ).datepicker();
  });
  </script>

   <style>

body{
    margin-top:50px;}
.menuBar{
    background:#A4A4A4;
    width:100%;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    }
.logo{
    float:right;
    margin-right:10px;
    }
.nav{	
    float:left;
    margin-left:0px;
    margin-right:10px}
.nav ul li{
    list-style:none;
    float:left;
    }

      #map {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
      }
   </style>


<link type="text/css" rel="stylesheet" href="../static/style.css" />

</head>



<body>

<form id='menu' method='post' action='marketplace'>
<div class="menuBar">
        <img class="logo" src="../static/rentrebel_logo.png" height=65%/>
        <div class="nav"> 


<div class="container">
	{% if login_intro == False %}
	<a id="account_trigger" href="#account" class="btn">{{login_status}}</a>
       <div id="account" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Account</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section class="popupBody">
			<div class="user_login">
				<form method="post" id='account' name='account' enctype=multipart/form-data>
				<!<div class="action_btns">
				<input type="submit" class="btn btn_red" name='logout' value="Logout"/>
				<!</div>
				{{ form_prop.csrf_token }}
				</form>
			</div>
		
		</section>
		</div>
<script type="text/javascript">
	$("#account_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>
	{% else %}
	<a id="modal_trigger" href="#modal" class="btn">{{login_status}}</a>
	{% endif %}
	<div id="modal" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Login</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				<img class="logo" src="../static/rentrebel_logo.png" height=65%/>
				<div class="">
					<a href="#" class="social_box fb">
						<span class="icon"><i class="fa fa-facebook"></i></span>
						<span class="icon_title">Connect with Facebook</span>
						
					</a>

					<a href="#" class="social_box google">
						<span class="icon"><i class="fa fa-google-plus"></i></span>
						<span class="icon_title">Connect with Google</span>
					</a>
				</div>

				<div class="centeredText">
					<span>Or use your Email address</span>
				</div>

				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
				</div>
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form method="post">
					<label>Email / Username</label>
           			        <input type="email" name="email"/>
					<br />

					<label>Password</label>
					<input type="password" name="password"/>
					<br />

					<div class="checkbox">
						<input id="remember" name="remember" type="checkbox" value="remember"/>
						<label for="remember">Remember me on this computer</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><input type="submit" class="btn btn_red" name='user_login' value="Login"/></div>
					</div>
					{{ form2.csrf_token }}
				</form>

				<a href="#" class="forgot_password">Forgot password?</a>
			</div>

			<!-- Register Form -->
			<div class="user_register">
				<form method="post">

					<label>Name</label>
           			        <input type="text" name="name"/>
					<br />

					<label>Email Address</label>
           			        <input type="email" name="email"/>
					<br />

					<label>Password</label>
					<input type="password" name="password"/>
					<br />

					<label for="utype">I am a:</label>
					<select id="utype" name="utype">
					  <option value="0">Renter/tenant</option>
					  <option value="1">Landlord</option>
					</select> 

					<div class="checkbox">
						<input id="send_updates" type="checkbox" />
						<label for="send_updates">Send me occasional email updates</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><input type="submit" class="btn btn_red" name='user_login' value="Register"/></div>
					</div>
					{{ form.csrf_token }}
				</form>
			</div>
		</section>



<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	})
</script>

</form>
	</div>
		<a id="newprop_trigger" href="#list" class="btn">List my Property</a>
	       <div id="list" class="popupContainer" style="display:none;z-index:20;">
			<header class="popupHeader">
				<span class="header_title">New Listing</span>
				<span class="modal_close"><i class="fa fa-times"></i></span>
			</header>
		
			<section class="popupBody">
				<form method="post" id='list_it' name='list_it' enctype=multipart/form-data>
				<div class="list_it">
					<div class="">

						 <div id="locationField">
						      <input id="autocomplete" class='stext' name='address' placeholder="What's the address?" type="text"></input>
						    </div>
			
						<br />

						<fieldset class="apttype">
						  <legend>Property Type</legend>
						  <label for="Apartment">
						    <input type="radio" value="Apartment" name="ptype" id="Apartment"> <span>Apartment</span>
						  </label>

						  <label for="Room">
						    <input type="radio" value="Room" name="ptype" id="Room"> <span>Room</span>
						  </label>

						  <label for="House or Condo">
						    <input type="radio" value="House or Condo"  name="ptype" id="House or Condo" checked> <span>House or Condo</span>
						  </label>
						</fieldset>

					</div>
					<input type="submit" class="btn btn_red" name='inital_info' id="initial_info" value="Just two more steps!" style="margin: 20px 0 10px;"/>
				</div>

				
				<div class="more_info" style="display: none;">
					<div id='more_info' name='more_info'>
					<div class="">
                        
                        <br />
		   			        <input class="stext" type="text" name="apt_num" placeholder="Apt or House #?" style="margin: 20px 0 10px;"/>
						<br />
                        
                        <input type="text" class="stext" id="datepicker" name="date_avail" placeholder="When is the place available?" style="margin: 20px 0 10px;"/>
                    	<br />

						<div class="one_half">
						<label>
						    <select name="brnum">
							<option selected> How many bedrooms? </option>
							<option value="0">Studio</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="999">6+</option>
						    </select>
						</label>
						</div>
						<div class="one_half last">
						<label>
						    <select name="bathrnum">
							<option selected> How many bathrooms? </option>
							<option value="0.5">1/2</option>
							<option value="1">1</option>
							<option value="1.5">1 1/2</option>
							<option value="2">2</option>
							<option value="2.5">2 1/2</option>
							<option value="3">3</option>
							<option value="3.5">3 1/2</option>
							<option value="4">4</option>
							<option value="4.5">4 1/2</option>
							<option value="5">5</option>
							<option value="5.5">5 1/2</option>
							<option value="999">6+</option>
						    </select>
						</label>
						</div>

						<label>
						    <select name='pet_status'>
							<option selected> Pets? </option>
							<option value="no_pets">No Pets</option>
							<option value="cats">Cats</option>
							<option value="dogs">Dogs</option>
							<option value="pets_ok">Pets OK</option>
						    </select>
						</label>


						<br />
		   			        <input type="text" class="stext" name="rent" placeholder="Rent $"/>
						<br />
					</div>
					<div><input type="submit" class="btn btn_red" name='back_initial' id="back_initial" value="Back" style="margin: 20px 0 10px;"/>
					<a href="#" id="upload_photos" class="btn" style="margin: 20px 0 10px;">Upload Photos!</a></div>

					</div>
				</div>

				<div class="picture_uploads" style="display: none;">
					<div id='pic_uploads' name='pic_uploads'>
					<div class="">
						<fieldset class="apttype">
						  <legend>Upload Images</legend>
						     <label>Image 1</label>
						<input type=file name="photo1"/>
                            <label>Image 2</label>
						<input type=file name="photo2"/>
                            <label>Image 3</label>
						<input type=file name="photo3"/>
                        </fieldset>
					</div>
                        
					<div><input type="submit" class="btn btn_red" name='back_next' id="back_next" value="Back" style="margin: 20px 0 10px;"/>
					<a href="#" id="to_description" class="btn" style="margin: 20px 0 10px;">Description</a></div>
					</div>
				</div>


				<div class="description" style="display: none;">
					<div id='description' name='description'>
					<div class="">
						
						<textarea class="desc_input" name="description" placeholder = "Enter a short description here: "></textarea>

						<label>Choose from popular tags below:</label>
						<fieldset class="smaller">
						  <legend>Property Tags</legend>
                            <ul class="checkbox">                             
						  {% for tag in tags %}
						  <li><label><input type="checkbox" name="{{tag}}" value="{{tag}}">{{tag}}</label></li> 
						  {% endfor %}
				         </ul> 

						</fieldset>
						
						<label>Or enter your own tags, starting with a # for each:</label>
		   			        <input class='stext'type="text" name="usertags" placeholder="#Rooftop Patio #Walk-in closet #Young tenants"/></input>
					</div>
					<!<input type="submit" class="btn btn_red" name='add_prop' value="List!"/>

					<div><input type="submit" class="btn btn_red" name='back_pics' id="back_pics" value="Back" style="margin: 20px 0 10px;"/>
					<input type="submit" id="submit_prop" name="submit_prop" value="Submit" class="btn" style="margin: 20px 0 10px;"></input></div>
					</div>
				</div>

				{{ form_prop.csrf_token }}
				</form>
			</section>




		</div>
    
    
    	       <div id="contact" class="popupContainer" style="display:none;z-index:20;">
			<header class="popupHeader">
				<span class="header_title">Send Message</span>
				<span class="modal_close"><i class="fa fa-times"></i></span>
			</header>
		
			<section class="popupBody">
				<form method="post" id='contact' name='contact' enctype=multipart/form-data>
				<div class="contact">
                <center>

					<div class="">

						 <div>
						      <input id="subject" class='stext' name='subject' placeholder="Hey, I love the place!" type="text"></input>
						    </div>
                        
                         <div style="margin-top:50px">
						      <textarea id="message" class='stext' name='message' placeholder="Take a look at my profile to learn more about me, but I'd love to view the place. Check my availability and let me know!" type="text"></textarea>
						    </div>
					
					</div>
                    
                
                        <br>
                        <fieldset>
						  <legend>Choose an available viewing date and time:</legend>
                            {% for s in this_date %}
                            
						    <input type="radio" value="{{s.id}}" name="sel_schedule" id="schedule"> <span>{{truncate_first(s.date)}} from {{s.time}}</span>               
                            <br>
                            {% endfor %}
                        </fieldset> 
                    

                    
                    
                    <!  Here we enter 3 to 5 times that we're available />
                    <span style="display: inline-block;">

                    <label style="font-size:10;">Or suggest your own viewing time: (choose at least 3 times):</label><br>
                    <input type="text" class="datetext" id="datepicker1" name="view_avail1" placeholder="Available date" style="margin: 20px 0 10px;"/>
						    <select name="time1" required>
							<option selected> Time? </option>
							<option value="12-1">12-1</option>
							<option value="1-2">1-2</option>
							<option value="2-3">2-3</option>
							<option value="3-4">3-4</option>
							<option value="4-5">4-5</option>
							<option value="5-6">5-6</option>
							<option value="6-7">6-7</option>
							<option value="7-8">7-8</option>
							<option value="8-9">8-9</option>
							<option value="9-10">9-10</option>
							<option value="10-11">10-11</option>
							<option value="11-12">11-12</option>
						    </select>
                            <select name="ampm1" required>
							<option selected> AM/PM </option>
							<option value="12-1">AM</option>
							<option value="1-2">PM</option>
						    </select>
                        </span>
                    <br>
                    <span style="display: inline-block;">
                    <input type="text" class="datetext" id="datepicker2" name="view_avail2" placeholder="Available date" style="margin: 20px 0 10px;"/>
						    <select name="time2" required>
							<option selected> Time? </option>
							<option value="12-1">12-1</option>
							<option value="1-2">1-2</option>
							<option value="2-3">2-3</option>
							<option value="3-4">3-4</option>
							<option value="4-5">4-5</option>
							<option value="5-6">5-6</option>
							<option value="6-7">6-7</option>
							<option value="7-8">7-8</option>
							<option value="8-9">8-9</option>
							<option value="9-10">9-10</option>
							<option value="10-11">10-11</option>
							<option value="11-12">11-12</option>
						    </select>
                            <select name="ampm2" required>
							<option selected> AM/PM </option>
							<option value="12-1">AM</option>
							<option value="1-2">PM</option>
						    </select>
                        </span>
                                        <br>
                    <span style="display: inline-block;">
                    <input type="text" class="datetext" id="datepicker3" name="view_avail3" placeholder="Available date" style="margin: 20px 0 10px;"/>
						    <select name="time3" required>
							<option selected> Time? </option>
							<option value="12-1">12-1</option>
							<option value="1-2">1-2</option>
							<option value="2-3">2-3</option>
							<option value="3-4">3-4</option>
							<option value="4-5">4-5</option>
							<option value="5-6">5-6</option>
							<option value="6-7">6-7</option>
							<option value="7-8">7-8</option>
							<option value="8-9">8-9</option>
							<option value="9-10">9-10</option>
							<option value="10-11">10-11</option>
							<option value="11-12">11-12</option>
						    </select>
                            <select name="ampm3" required>
							<option selected> AM/PM </option>
							<option value="12-1">AM</option>
							<option value="1-2">PM</option>
						    </select>
                        </span>
                                        <br>
                    <span style="display: inline-block;">
                    <input type="text" class="datetext" id="datepicker4" name="view_avail4" placeholder="Available date" style="margin: 20px 0 10px;"/>
						    <select name="time4">
							<option selected> Time? </option>
							<option value="12-1">12-1</option>
							<option value="1-2">1-2</option>
							<option value="2-3">2-3</option>
							<option value="3-4">3-4</option>
							<option value="4-5">4-5</option>
							<option value="5-6">5-6</option>
							<option value="6-7">6-7</option>
							<option value="7-8">7-8</option>
							<option value="8-9">8-9</option>
							<option value="9-10">9-10</option>
							<option value="10-11">10-11</option>
							<option value="11-12">11-12</option>
						    </select>
                            <select name="ampm4">
							<option selected> AM/PM </option>
							<option value="am">AM</option>
							<option value="pm">PM</option>
						    </select>
                        </span>
                                        <br>
                    <span style="display: inline-block;">
                    <input type="text" class="datetext" id="datepicker5" name="view_avail5" placeholder="Available date" style="margin: 20px 0 10px;"/>
						    <select name="time5">
							<option selected> Time? </option>
							<option value="12-1">12-1</option>
							<option value="1-2">1-2</option>
							<option value="2-3">2-3</option>
							<option value="3-4">3-4</option>
							<option value="4-5">4-5</option>
							<option value="5-6">5-6</option>
							<option value="6-7">6-7</option>
							<option value="7-8">7-8</option>
							<option value="8-9">8-9</option>
							<option value="9-10">9-10</option>
							<option value="10-11">10-11</option>
							<option value="11-12">11-12</option>
						    </select>
                            <select name="ampm5">
							<option selected> AM/PM </option>
							<option value="am">AM</option>
							<option value="pm">PM</option>
						    </select>
                        </span>

                    <center>
					<input type="submit" class="btn btn_red" name='send_message' id="send_message" value="Send Message" style="margin: 20px 0 10px;"/>
                    </center>
                    </center>
                    </div>
		
                
				{{ form_prop.csrf_token }}
				</form>
            </section>

		</div>	
    
    
	</div>		
</div>
<script type="text/javascript">
	$("#newprop_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#initial_info").click(function(){
			$(".list_it").hide();
			$(".more_info").show();
			return false;
		});

		$("#upload_photos").click(function(){
			$(".more_info").hide();
			$(".picture_uploads").show();
			return false;
		});

		$("#to_description").click(function(){
			$(".picture_uploads").hide();
			$(".description").show();
			return false;
		});

		// Going back to Social Forms
		$("#back_initial").click(function(){
			$(".more_info").hide();
			$(".list_it").show();
			return false;
		});

		$("#back_next").click(function(){
			$(".picture_uploads").hide();
			$(".more_info").show();
			return false;
		});
		
		$("#back_pics").click(function(){
			$(".description").hide();
			$(".picture_uploads").show();
			return false;
		});


	})
</script>



<form id='searchbar' name='searchbar' method='post'>
                               <!<input name="search_loc" class='stext' type="text" placeholder="Where to?" required>
				<div id="locationField">
				<input name='search_loc' id="autocomplete2" class = 'stext' placeholder="Where to?" type="text" required></input>

						    <script>
							var autocomplete;
							function initAutocomplete() {
	 						 // Create the autocomplete object, restricting the search to geographical
	  						// location types.
	  						autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),{types: ['geocode']});
							autocomplete2 = new google.maps.places.Autocomplete(document.getElementById('autocomplete2'), { types: [ 'geocode' ] });

							}

				   			 </script>

					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NNkMPOTfOA4gAeNns4rvGFQzRTM38zM&signed_in=true&libraries=places&callback=initAutocomplete"
						async defer></script>
                                <input name="search_butt" class='searchbutt' type="submit" value="Search">				
				</div>
</form>
</div>	





<!<a class="fancybox" rel="group" href="../static/dummy_data/1.jpg"></a>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

   <!<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <!<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

   <!<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <link rel="stylesheet" href="https://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css">
   <script src="https://rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>


   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

   <link rel="stylesheet" href="https://birdage.github.io/Leaflet.awesome-markers/dist/leaflet.awesome.rotate.css">

   <style>

      html, body {
        width: 100%;
        height: 100%;
        margin-top: 25px;
        padding: 0;
      }

      #map {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
      }

   </style>
</head>

<body>

   <div class="folium-map" id="folium_376d700809604b63a32a1df11cf00285" style="width: 100%; height: 200px; z-index:1;"></div>

   <script>

      var base_tile = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18,
          minZoom: 1,
          attribution: 'Map data (c) <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
      });

      var baseLayer = {
        "Base Layer": base_tile
      };

      /*
      addition of the wms layers
      */

      

      /*
      addition of the tile layers
      */
      

      /*
      list of layers to be added
      */
      var layer_list = {
      
      };

      /*
      Bounding box.
      */
      var southWest = L.latLng(-90, -180),
          northEast = L.latLng(90, 180),
          bounds = L.latLngBounds(southWest, northEast);

      /*
      Creates the map and adds the selected layers
      */
      var map = L.map('folium_376d700809604b63a32a1df11cf00285', {
                                       center:[{{this_prop.latitude}},{{this_prop.longitude}}],
                                       zoom: 18,
                                       maxBounds: bounds,
                                       layers: [base_tile]
                                     });

      L.control.layers(baseLayer, layer_list).addTo(map);

      //cluster group
      var clusteredmarkers = L.markerClusterGroup();
      //section for adding clustered markers
      
      //add the clustered markers to the group anyway
      map.addLayer(clusteredmarkers);
	
      // loop for marker creation
    {% for r in rental %}	
      var marker_1_icon = L.AwesomeMarkers.icon({ icon: 'info-sign',markerColor: 'blue',prefix: 'glyphicon',extraClasses: 'fa-rotate-0'});
      var marker_1 = L.marker([{{r.latitude}},{{r.longitude}}],{'icon':marker_1_icon});
      marker_1.bindPopup("<h2>{{r.address}}: ${{r.rent}}</h2><img src="+"\"../static/dummy_data/{{r.pics[0].id}}.jpg\"width=250px\">").openPopup();
      marker_1._popup.options.maxWidth = 300;
      
	//marker_1.on('dblclick', function(){$.fancybox.open({href : '../static/dummy_data/{{r.pics[0].id}}.jpg',title : "<font size=\"5\"><ul>{{r.address}} - ${{r.rent}}</ul>{{r.description}}</font> <ul><input href=\"http://google.com\" type=\"submit\" style=\"height:20px;text-align: center;\" value=\"Contact {{r.tenant.name}}\"</input></ul><ul>{% for t in rental.tags%}{{t.tag}}--{% endfor %}</ul>"});});
	map.addLayer(marker_1);
 {% endfor %}

   </script>

    <script type="text/javascript" src="../static/simple-fade-slideshow.slider/js/jssor.slider.mini.js"></script>
    <!-- use jssor.slider.debug.js instead for debug -->
    <script>
        jQuery(document).ready(function ($) {
            
            var jssor_1_SlideshowTransitions = [
              {$Duration:1200,$Opacity:2}
            ];
            
            var jssor_1_options = {
              $AutoPlay: true,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };
            
            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
            
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 600);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

    
    <div id='backing' style="background: rgba(0, 0, 0, 0.7);z-index:10;overflow:visible;">
        <center>
        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 800px; height: 400px; overflow: hidden; visibility: hidden;display:inline-block;margin-right:10px;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('../static/simple-fade-slideshow.slider/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; sleft: 0px; width: 800px; height: 400px; overflow: hidden;">
            
            {% for p in this_prop.pics %}
            
            <div data-p="112.50" style="display: none; width: 800px; height: 400px;">
                <img data-u="image" src="../static/dummy_data/{{p.name}}" />
            </div>
            
            {% endfor %}
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:6px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora12l" style="top:123px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora12r" style="top:123px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
    </div>

    <div style="display:inline-block;border-style: solid;border-width: medium;position:relative;top: -100px;left: 0px;">
    <img src="../static/rr_whistle.png" style="bottom:10px"/>
    <br>
            <span style="color:green;font-size:2.5em;text-shadow: 2px 2px 0px black;"><b><i>99</i></b></span> 
    
    </div>
        </center>
    </div>
    
    
    <!--Content portion of the property posting-->
    <div style="overflow-x: hidden;overflow-y: scroll;">
    <hr>
    <center>
        <h1>    
            {{this_prop.address}}
            <br>
            Available: {{view_dates(this_prop.AvailableDate)}}
        </h1>
    </center>
    <hr>
    <center>
    <h3>
        {{this_prop.ptype}}
        <br>
        {{make_int(this_prop.brnum)}} Bedrooms &bull; {{this_prop.bathrnum}} Baths &bull; <span style="color:green">{{make_int(this_prop.rent)}} $ Rent</span>
        <br>
        {% if this_prop.pet_status=='no_pets' %}
        Sorry, no pets!
        {% elif this_prop.pet_status=='dogs' %}
        Dogs are OK!
        {% elif this_prop.pet_status=='cats' %}
        Cats are OK!
        {% else %}
        Pets are OK!    
        {% endif %}
        
    </h3>
    </center>
    <hr>
        <center><p>{{this_prop.description}}</p></center>    
    <center><p class='tags'>
    {% for t in this_prop.tags %}
    
        {{t.tag}} &bull;
        
    {% endfor %}
    </p></center> 
    </div>
    <center>
    <form method="post">
    <input type="submit" class="btn btn_red" name='back_to_marketplace' value="Back"/>
    {% if this_prop.tenant.name==None %}
    <a href="#contact" class="btn btn_red" id='contact_butt' name='contact_butt' value="Contact {{this_prop.tenant.name}}">Contact {{truncate_first(this_prop.landlord.name)}}</a>
    {% else %}
    <a href="#contact" class="btn btn_red" id='contact_butt' name='contact_butt' value="Contact {{this_prop.tenant.name}}">Contact {{truncate_first(this_prop.tenant.name)}}</a>
    {% endif %}
    </form>
        <script type="text/javascript">
	$("#contact_butt").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
   </script>
        
    </center> 
</body>
</html>
