<!DOCTYPE html>
<head>
<html lang="en">
<title>RentRebel</title>
<script type="text/javascript" src="../static/js/jquery-1.11.0.min.js"></script>
{% if login_intro == True %}
<script type="text/javascript" src="../static/js/leanModal-modified-for-onload.js"></script>
{% else %}
<script type="text/javascript" src="../static/js/jquery.leanModal.min.js"></script>
{% endif %}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

<! fancy box files>
<link rel="stylesheet" href="../static/jquery.fancybox.css" type="text/css" media="screen"/>
<link type="text/css" rel="stylesheet" href="../static/searchbar.css" />
<script type="text/javascript" src="../static/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../static/index_fb.js"></script>
<!<link rel="stylesheet" type="text/css" href="../static/pretty-radio.css"/>
<link rel="stylesheet" type="text/css" href="../static/picture_slider.css"/>

<! stuff for icon>
<link rel="icon" type="image/png" href="../static/favicomatic/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../static/favicomatic/favicon-16x16.png" sizes="16x16" />

<! stuff for using calanders to input dates>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
<link rel="stylesheet" type="text/css" media="all" href="../static/styles_account.css">
    
    
    
 <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
      $(function() {
    $( "#datepicker2" ).datepicker();
  });
     
     
  </script>

   <style>

body{
    margin-top:50px;}
.menuBar{
    background:#A4A4A4;
    width:100%;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    left:0;
    }
.logo{
    float:right;
    margin-right:10px;
    }
.nav{	
    float:left;
    margin-left:0px;
    margin-right:10px}
.nav ul li{
    list-style:none;
    float:left;
    }

      #map {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
      }
   </style>


<link type="text/css" rel="stylesheet" href="../static/style.css" />

</head>



<body>

<form id='menu' method='post' action='marketplace'>
<div class="menuBar">
        <img class="logo" src="../static/rentrebel_logo.png" height=65%/>
        <div class="nav"> 


<div class="container">
	{% if login_intro == False %}
	<a id="account_trigger" href="#account" class="btn">{{login_status}}</a>
       <div id="account" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Account</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section class="popupBody">
			<div class="user_login">
				<form method="post" id='account' name='account' enctype=multipart/form-data>
				<!<div class="action_btns">
				<input type="submit" class="btn btn_red" name='logout' value="Logout"/>
				<!</div>
				{{ form_prop.csrf_token }}
				</form>
			</div>
		
		</section>
		</div>
<script type="text/javascript">
	$("#account_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
</script>
	{% else %}
	<a id="modal_trigger" href="#modal" class="btn">{{login_status}}</a>
	{% endif %}
	<div id="modal" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Login</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				<img class="logo" src="../static/rentrebel_logo.png" height=65%/>
				<div class="">
					<a href="#" class="social_box fb">
						<span class="icon"><i class="fa fa-facebook"></i></span>
						<span class="icon_title">Connect with Facebook</span>
						
					</a>

					<a href="#" class="social_box google">
						<span class="icon"><i class="fa fa-google-plus"></i></span>
						<span class="icon_title">Connect with Google</span>
					</a>
				</div>

				<div class="centeredText">
					<span>Or use your Email address</span>
				</div>

				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
				</div>
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form method="post">
					<label>Email / Username</label>
           			        <input type="email" name="email"/>
					<br />

					<label>Password</label>
					<input type="password" name="password"/>
					<br />

					<div class="checkbox">
						<input id="remember" name="remember" type="checkbox" value="remember"/>
						<label for="remember">Remember me on this computer</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><input type="submit" class="btn btn_red" name='user_login' value="Login"/></div>
					</div>
					{{ form2.csrf_token }}
				</form>

				<a href="#" class="forgot_password">Forgot password?</a>
			</div>

			<!-- Register Form -->
			<div class="user_register">
				<form method="post">

					<label>Name</label>
           			        <input type="text" name="name"/>
					<br />

					<label>Email Address</label>
           			        <input type="email" name="email"/>
					<br />

					<label>Password</label>
					<input type="password" name="password"/>
					<br />

					<label for="utype">I am a:</label>
					<select id="utype" name="utype">
					  <option value="0">Renter/tenant</option>
					  <option value="1">Landlord</option>
					</select> 

					<div class="checkbox">
						<input id="send_updates" type="checkbox" />
						<label for="send_updates">Send me occasional email updates</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><input type="submit" class="btn btn_red" name='user_login' value="Register"/></div>
					</div>
					{{ form.csrf_token }}
				</form>
			</div>
		</section>



<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	})
</script>

</form>
	</div>
		<a id="newprop_trigger" href="#list" class="btn">List my Property</a>
	       <div id="list" class="popupContainer" style="display:none;z-index:20;">
			<header class="popupHeader">
				<span class="header_title">New Listing</span>
				<span class="modal_close"><i class="fa fa-times"></i></span>
			</header>
		
			<section class="popupBody">
				<form method="post" id='list_it' name='list_it' enctype=multipart/form-data>
				<div class="list_it">
					<div class="">

						 <div id="locationField">
						      <input id="autocomplete" class='stext' name='address' placeholder="What's the address?" type="text"></input>
						    </div>
			
						<br />

						<fieldset class="apttype">
						  <legend>Property Type</legend>
						  <label for="Apartment">
						    <input type="radio" value="Apartment" name="ptype" id="Apartment"> <span>Apartment</span>
						  </label>

						  <label for="Room">
						    <input type="radio" value="Room" name="ptype" id="Room"> <span>Room</span>
						  </label>

						  <label for="House or Condo">
						    <input type="radio" value="House or Condo"  name="ptype" id="House or Condo"> <span>House or Condo</span>
						  </label>
						</fieldset>
					</div>
					<input type="submit" class="btn btn_red" name='inital_info' id="initial_info" value="Just two more steps!" style="margin: 20px 0 10px;"/>
				</div>

				
				<div class="more_info" style="display: none;">
					<div id='more_info' name='more_info'>
					<div class="">
                        
                        <br />
		   			        <input class="stext" type="text" name="apt_num" placeholder="Apt or House #?" style="margin: 20px 0 10px;"/>
						<br />
                        
                        <input type="text" class="stext" id="datepicker" name="date_avail" placeholder="When is the place available?" style="margin: 20px 0 10px;"/>
                    	<br />

						<div class="one_half">
						<label>
						    <select name="brnum">
							<option selected> How many bedrooms? </option>
							<option value="0">Studio</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="999">6+</option>
						    </select>
						</label>
						</div>
						<div class="one_half last">
						<label>
						    <select name="bathrnum">
							<option selected> How many bathrooms? </option>
							<option value="0.5">1/2</option>
							<option value="1">1</option>
							<option value="1.5">1 1/2</option>
							<option value="2">2</option>
							<option value="2.5">2 1/2</option>
							<option value="3">3</option>
							<option value="3.5">3 1/2</option>
							<option value="4">4</option>
							<option value="4.5">4 1/2</option>
							<option value="5">5</option>
							<option value="5.5">5 1/2</option>
							<option value="999">6+</option>
						    </select>
						</label>
						</div>

						<label>
						    <select name='pet_status'>
							<option selected> Pets? </option>
							<option value="no_pets">No Pets</option>
							<option value="cats">Cats</option>
							<option value="dogs">Dogs</option>
							<option value="pets_ok">Pets OK</option>
						    </select>
						</label>


						<br />
		   			        <input type="text" class="stext" name="rent" placeholder="Rent $"/>
						<br />
					</div>
					<div><input type="submit" class="btn btn_red" name='back_initial' id="back_initial" value="Back" style="margin: 20px 0 10px;"/>
					<a href="#" id="upload_photos" class="btn" style="margin: 20px 0 10px;">Upload Photos!</a></div>

					</div>
				</div>

				<div class="picture_uploads" style="display: none;">
					<div id='pic_uploads' name='pic_uploads'>
					<div class="">
						<fieldset class="apttype">
						  <legend>Upload 3 to 8 Images</legend>
						     <label>Image 1</label>
						<input type=file name="photo1" required/>
                            <label>Image 2</label>
						<input type=file name="photo2" required/>
                            <label>Image 3</label>
						<input type=file name="photo3" required/>
                            <label>Image 4</label>
						<input type=file name="photo4"/>
                            <label>Image 5</label>
						<input type=file name="photo5"/>
                            <label>Image 6</label>
						<input type=file name="photo6"/>
                            <label>Image 7</label>
						<input type=file name="photo7"/>
                            <label>Image 8</label>
						<input type=file name="photo8"/>
                        </fieldset>
					</div>
                        
					<div><input type="submit" class="btn btn_red" name='back_next' id="back_next" value="Back" style="margin: 20px 0 10px;"/>
					<a href="#" id="to_description" class="btn" style="margin: 20px 0 10px;">Description</a></div>
					</div>
				</div>


				<div class="description" style="display: none;">
					<div id='description' name='description'>
					<div class="">
						
						<textarea class="desc_input" name="description" placeholder = "Enter a short description here: "></textarea>

						<label>Choose from popular tags below:</label>
						<fieldset class="smaller">
						  <legend>Property Tags</legend>
                            <ul class="checkbox">                             
						  {% for tag in tags %}
						  <li><label><input type="checkbox" name="{{tag}}" value="{{tag}}">{{tag}}</label></li> 
						  {% endfor %}
				         </ul> 

						</fieldset>
						
						<label>Or enter your own tags, starting with a # for each:</label>
		   			        <input class='stext'type="text" name="usertags" placeholder="#Rooftop Patio #Walk-in closet #Young tenants"/></input>
					</div>
					<!<input type="submit" class="btn btn_red" name='add_prop' value="List!"/>

					<div><input type="submit" class="btn btn_red" name='back_pics' id="back_pics" value="Back" style="margin: 20px 0 10px;"/>
					<input type="submit" id="submit_prop" name="submit_prop" value="Submit" class="btn" style="margin: 20px 0 10px;"></input></div>
					</div>
				</div>

				{{ form_prop.csrf_token }}
				</form>
			</section>




		</div>	
	</div>		
</div>
<script type="text/javascript">
	$("#newprop_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#initial_info").click(function(){
			$(".list_it").hide();
			$(".more_info").show();
			return false;
		});

		$("#upload_photos").click(function(){
			$(".more_info").hide();
			$(".picture_uploads").show();
			return false;
		});

		$("#to_description").click(function(){
			$(".picture_uploads").hide();
			$(".description").show();
			return false;
		});

		// Going back to Social Forms
		$("#back_initial").click(function(){
			$(".more_info").hide();
			$(".list_it").show();
			return false;
		});

		$("#back_next").click(function(){
			$(".picture_uploads").hide();
			$(".more_info").show();
			return false;
		});
		
		$("#back_pics").click(function(){
			$(".description").hide();
			$(".picture_uploads").show();
			return false;
		});


	})
</script>



<form id='searchbar' name='searchbar' method='post'>
                               <!<input name="search_loc" class='stext' type="text" placeholder="Where to?" required>
				<div id="locationField">
				<input name='search_loc' id="autocomplete2" class = 'stext' placeholder="Where to?" type="text" required></input>

						    <script>
							var autocomplete;
							function initAutocomplete() {
	 						 // Create the autocomplete object, restricting the search to geographical
	  						// location types.
	  						autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),{types: ['geocode']});
							autocomplete2 = new google.maps.places.Autocomplete(document.getElementById('autocomplete2'), { types: [ 'geocode' ] });
                            autocomplete3 = new google.maps.places.Autocomplete(document.getElementById('autocomplete3'), { types: [ 'geocode' ] });
							}

				   			 </script>

					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NNkMPOTfOA4gAeNns4rvGFQzRTM38zM&signed_in=true&libraries=places&callback=initAutocomplete"
						async defer></script>
                                <input name="search_butt" class='searchbutt' type="submit" value="Search">				
				</div>
</form>
</div>	





<!<a class="fancybox" rel="group" href="../static/dummy_data/1.jpg"></a>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

   <!<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <!<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

   <!<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <link rel="stylesheet" href="https://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css">
   <script src="https://rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>


   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

   <link rel="stylesheet" href="https://birdage.github.io/Leaflet.awesome-markers/dist/leaflet.awesome.rotate.css">

   <style>

      html, body {
        width: 100%;
        height: 100%;
        margin-top: 25px;
        padding: 0;
      }

      #map {
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
      }

   </style>
</head>

<body>


<div id="topbar">
  <a href="/marketplace">Back to marketplace</a>
  </div>
  
  <div id="w">
    <div id="content" class="clearfix">
      {% if this_user.pics.name %}
      <div id="userphoto"><img src="../static/images/{{this_user.pics.name}}" alt="default avatar" style="height:125px"></div>
      {% else %}
      <div id="userphoto"><img src="../static/avatar.png" alt="default avatar" style="height:125px"></div>
      {% endif %}      
        <h1>{{this_user.name}}</h1>
        {% if this_user.utype==0 %}
        <center><h3>Tentant Account</h3></center><hr>
        {% else %}
        <center><h3>Landlord Account</h3></center><hr>
        {% endif %}

      <nav id="profiletabs">
        <ul class="clearfix">
          <li><a href="#Management">Management</a></li>
          <li><a href="#activity">Activity</a></li>
          <li><a href="#friends">Friends</a></li>
          <li><a href="#messages">Messages</a></li>
        </ul>
      </nav>
      
      <section id="Management" class="hidden" style="position: relative;top:50px">
            <p>
            {{this_user.about_me}}
                
            <center>
            <hr>
            <h3>
                --My Property--
            </h3>
            <hr>
            </center>
            </p>
          <p>
        <div style='display:inline-block;'><img src="../static/dummy_data/{{this_user.renting_property[0].pics[0].name}}" height="180"></div> 
         <div style='display:inline-block;position:relative;top:-180px;left:270px;margin-left:15px;'>
          <div style='position:relative;display:inline-block;'>{{this_user.renting_property[0].address}}</div><br>
          <div style='position:relative;display:inline-block;'>{{make_int(this_user.renting_property[0].brnum)}} Bedrooms &bull; {{this_user.renting_property[0].bathrnum}} Baths &bull; <span style="color:green">{{make_int(this_user.renting_property[0].rent)}} $ Rent </span>&bull; 
        {% if this_user.renting_property[0].pet_status=='no_pets' %}
        Sorry, no pets!
        {% elif this_user.renting_property[0].pet_status=='dogs' %}
        Dogs are OK!
        {% elif this_user.renting_property[0].pet_status=='cats' %}
        Cats are OK!
        {% else %}
        Pets are OK!    
        {% endif %}
          </div>
<div style='position:relative;display:inline-block;width:400px;word-wrap: break-word;top:10px;'>
        {{this_user.renting_property[0].description}}  <br><br>
    {% for t in this_user.renting_property[0].tags %}
    
        {{t.tag}} &bull;
        
    {% endfor %}
          
        </div>
          </div>
        </p>
    <nav id="profiletabs">
    <ul>
    <li>
    <div style="position:relative;top:-100px">
    <a href="#edit_property" class="btn btn_red" name='edit_property' value="Edit Property">Edit Property</a>
    <form method="post">
    <input type="submit" class="btn btn_red" name='view_listing' value="View Listing"/>
    </form>
    </div>
    </li>
    </ul>
    </nav>
    <hr>    
    </section>
      
    <section id="edit_property" class="hidden">
       <h2>Edit Current Property</h2>
      <form name='edit_property' method='post' enctype=multipart/form-data>
        <label>Address:</label>
       <input name='e_address' id="autocomplete3" class = 'stext' placeholder="{{this_user.renting_property[0].address}}" type="text"></input>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NNkMPOTfOA4gAeNns4rvGFQzRTM38zM&signed_in=true&libraries=places&callback=initAutocomplete"
						async defer></script>
        
	   <label for="ptype" style="position:relative;margin-top:15px;">Property Type:</label>
					<select id="ptype" name="e_ptype">
					  <option value="{{this_user.renting_property[0].ptype}}">{{this_user.renting_property[0].ptype}}</option>
					  <option value="Apartment">Apartment</option>
                      <option value="Apartment">Room</option>
                      <option value="Apartment">House or Condo</option>
					</select> 
      <label style="position:relative;margin-top:15px;">House or Apt. num:</label>
      <input class="stext" type="text" name="e_apt_num" placeholder="{{this_user.renting_property[0].apt_num}}"/>
        <label style="position:relative;margin-top:15px;">Date Available:</label>
        <input type="text" class="stext" id="datepicker2" name="e_date_avail" placeholder="{{this_user.renting_property[0].AvailableDate}}"/>
        
        
        
						<label style="position:relative;margin-top:15px;">Number of Bedrooms</label>
						    <select name="e_brnum">
							<option selected value="{{this_user.renting_property[0].brnum}}">{{this_user.renting_property[0].brnum}} bedrooms</option>
							<option value="0">Studio</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="999">6+</option>
						    </select>
						
                
                        <label style="position:relative;margin-top:15px;">Number of Bathrooms</label>
						    <select name="e_bathrnum">
							<option selected value="{{this_user.renting_property[0].bathrnum}}">{{this_user.renting_property[0].bathrnum}} bathrooms</option>
							<option value="0.5">1/2</option>
							<option value="1">1</option>
							<option value="1.5">1 1/2</option>
							<option value="2">2</option>
							<option value="2.5">2 1/2</option>
							<option value="3">3</option>
							<option value="3.5">3 1/2</option>
							<option value="4">4</option>
							<option value="4.5">4 1/2</option>
							<option value="5">5</option>
							<option value="5.5">5 1/2</option>
							<option value="999">6+</option>
						    </select>

						<label style="position:relative;margin-top:15px;">Pets allowed?</label>
						    <select name='e_pet_status'>
							<option selected value ="{{this_user.renting_property[0].pet_status}}"> {{this_user.renting_property[0].pet_status}} </option>
							<option value="no_pets">No Pets</option>
							<option value="cats">Cats</option>
							<option value="dogs">Dogs</option>
							<option value="pets_ok">Pets OK</option>
						    </select>
        
        
        <label style="position:relative;margin-top:15px;">Rent:</label>
       <input type="text" class="stext" name="e_rent" placeholder="{{this_user.renting_property[0].rent}}"/>
  
        <label style="position:relative;margin-top:15px;">Property Images: click to replace</label>
        {% for p in this_user.renting_property[0].pics %}
                
        <img src="../static/dummy_data/{{p.name}}" height="100" style="position:relative;margin-top:15px;" onclick="document.getElementById('{{p.name}}').click(); return false;"><br>
    
        {% endfor %}
        
        {% for p in this_user.renting_property[0].pics %}
        <input type="file" id="{{p.name}}" name="{{p.name}}" style="visibility: hidden;" />
        {% endfor %}
        
        <label>Or add new images</label>
        <input type=file name="photoadd1"/>
        <input type=file name="photoadd2"/>
        <input type=file name="photoadd3"/>

        
        <label style="position:relative;margin-top:15px;">Re-write Description:</label>
        <textarea class="desc_input" name="e_description">{{this_user.renting_property[0].description}}</textarea>

        	<label style="position:relative;margin-top:15px;">Deselect Tags:</label>
              <legend>Current Tags</legend>
                <ul class="checkbox">                             
              {% for tag in this_user.renting_property[0].tags %}
              <li><label><input type="checkbox" name="{{tag.tag}}" value="{{tag.tag}}" checked>{{tag.tag}}</label></li> 
              {% endfor %}
             </ul>         
        
        
         <label style="position:relative;margin-top:15px;">Choose to add more tags:</label>
            <ul class="checkbox">                             
						  {% for tag in tags %}
						  <li><label><input type="checkbox" name="{{tag}}" value="{{tag}}">{{tag}}</label></li> 
						  {% endfor %}
            </ul> 
						
        <label style="position:relative;margin-top:15px;">Or enter your more of your own tags, starting with a # for each:</label>
        <input class='stext'type="text" name="usertags" placeholder="#Rooftop Patio #Walk-in closet #Young tenants"/></input>
          <input type="submit" id="submit_prop_edit" name="submit_prop_edit" value="Submit Edits" class="btn" style="margin: 20px 0 10px;"></input>
        </form>  
    
      
      </section>  
      
      
      <section id="activity" class="hidden">
        <p>Most recent actions:</p>
        
          {% for a in this_user.action %}
          
        <p class="activity">@{{a.action_time}} - {{a.action_type}}</p>
        
          {% endfor %}
          
      </section>
      
      <section id="friends" class="hidden">
        <p>Friends list:</p>
        
        <ul id="friendslist" class="clearfix">
          <li><a href="#"><img src="../static/images/avatar.png" width="22" height="22"> Username</a></li>
          <li><a href="#"><img src="../static/images/avatar.png" width="22" height="22"> SomeGuy123</a></li>
          <li><a href="#"><img src="../static/images/avatar.png" width="22" height="22"> PurpleGiraffe</a></li>
        </ul>
      </section>
      
    <section id="messages" class="hidden">
        <p>Message Threads:</p>
        <form method="post">
        {% for m in uthreads %}
        <div class="messages" style="background:#C8C8C8">
        <img src="../static/images/edit.png" height="22" width="22" alt="*Edit*" onclick="document.getElementById('{{m.id}}').click(); return false;">    
            <span class='usernames'>"{{truncate_first(m.sender.name)}} to {{truncate_first(m.reciever.name)}}"</span>--{{m.subject}} {{truncate_first(m.message_time)}}
        <hr>
          </div>
        <input type="submit" id='{{m.id}}' name="sent_threads" value="{{m.id}}" style="visibility: hidden;" />
        {% endfor %}

         </form>
         
      </section>

    <section id="show_thread">
        
        <h2>Thread for {{truncate_comma(this_thread[0].rental.address)}}</h2>
        <center>
        {% if this_thread[0].sender==this_user %}
        {% if this_thread[0].reciever.pics.name %}
        <img src="../static/dummy_data/{{this_thread[0].reciever.pics.name}}" height="100" width="100"> 
        {% else %}
        <img src="../static/avatar.png" height="100" width="100"> 
        {% endif %}
        <p>{{this_thread[0].reciever.about_me}}</p>
        {% else %}
        {% if this_thread[0].sender.pics.name %}
        <img src="../static/dummy_data/{{this_thread[0].sender.pics.name}}" height="100" width="100"> 
        {% else %}
        <img src="../static/avatar.png" height="100" width="100"> 
        {% endif %}
        <p>{{this_thread[0].sender.about_me}}</p>
        {% endif %}
        </center>
        <!Chose meeting time or confirm meeting time>
        {% if not meeting_confirmed and this_thread[0].sender != this_user %}
        
        <p class='tags'>
            	<fieldset style="border-style: solid;border-width: medium;">
						  <legend>Available Viewing Dates</legend>
                        
                            {% for s in s_dates %}

						    <input type="radio" value="{{s.id}}" name="sel_schedule" id="schedule"> <span>{{truncate_first(s.date)}} from {{s.time}}</span>
                    
                            {% endfor %}
                </fieldset>
        </p>
        
        {% endif %}
        
        <center>
         <p><span class="usernames">{{this_thread[0].subject}}</span></p>
        </center>

        {% for t in this_thread %}
        <p>
         {% if t.sender.id==this_user.id %}
        <p><span class="usernames">{{truncate_first(t.sender.name)}} on {{truncate_first(t.message_time)}}</span></p>
            <br>
        <p>{{t.message}}</p>
            <hr>
         {% else %}
         <p class="usernames_s"><span class="usernames">{{truncate_first(t.sender.name)}} on {{truncate_first(t.message_time)}}</span></p>
            <br>
        <p>{{t.message}}</p>
            <hr>
          {% endif %}
        </p>
        {% endfor %}

	<form method="post" id='new_message' name='new_message' enctype=multipart/form-data>
				<div class="contact">
					<center>
                    <div class="">
                         <div style="margin-top:50px">
						      <textarea id="message" class='stext' name='message' placeholder="Type your reply here!" type="text"></textarea>
						    </div>
					
					</div>
                    </center>
                    <center>
                        <button type="submit" class="btn btn_red" name='send_message' id="send_message" value="{{this_thread[0].id}}" style="margin: 20px 0 10px;">Send Message</button>
                    </center>
                    </div>
		

				{{ form_prop.csrf_token }}
				</form>
    </section>

    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function(){
  $('#profiletabs ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');
    
    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');
    
    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });
    
    $(newcontent).removeClass('hidden');
  });
});
</script>
    
</body>
</html>
